.full-width {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}

.absolut-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


/**** Forms ****/
input[type=text],
input[type=search] {
  border-radius: 0;
  border: none;
}

.no-padding{
  padding-left: 0;
  padding-right: 0;
}

.field--type-entity-reference{
  margin: 0;
}
