[submodule "web/sites/vesafe"]
	path = web/sites/vesafe
	url = git@github.com:EU-OSHA/vesafe-D9.git
[submodule "web/sites/napo"]
	path = web/sites/napo
	url = git@github.com:EU-OSHA/napo-D9.git
[submodule "web/sites/oira"]
	path = web/sites/oira
	url = git@github.com:EU-OSHA/oira-D9.git
[submodule "web/sites/allages"]
	path = web/sites/allages
	url = git@github.com:EU-OSHA/allages-D9.git
