<table border="0" cellpadding="28" cellspacing="0" width="800">
  <tbody>
  <tr style="border: 0; background: #ffffff">
    <td style="border: 0; background: #ffffff; padding-top: 15px; padding-bottom: 15px; font-family: Arial,sans-serif; font-size: 12px; color: #333333;">
      <table>
        <tr style="border: 0; background: #ffffff">
          <td colspan="2" style="font-family: Arial,sans-serif; font-size: 20px; color: #003399;">
            <h2 style="font-family: Arial,sans-serif; font-size: 20px; color: #003399;">
              <a style="font-family: Arial,sans-serif; font-size: 20px; color: #003399;" href="">{{ body_content.title }}</a>
            </h2>
          </td>
        </tr>
        <tr style="border: 0; background: #ffffff">
          <td style="border: 0; background: #ffffff; vertical-align: top; padding-right: 10px;">
            {{ body_content.field_image_media }}
          </td>
          <td style="vertical-align: top; border: 0; background: #ffffff; padding-top: 15px; padding-bottom: 15px; font-family: Arial,sans-serif; font-size: 12px; color: #333333;">
            {{ body_content.body }}
          </td>
        </tr>
      </table>

      {% if bundle == 'press_release' %}
        <h2>{% trans %} Press contacts {% endtrans %}</h2>
        {{ contacts }}
      {% endif %}
    </td>
  </tr>
  </tbody>
</table>
