<tr>
  <td>
    <a href="{{ url }}" style="color: #003399; text-decoration: none; font-size: 14px; font-weight: 600;">
      {{ label }}
    </a>
  </td>
</tr>
<tr>
  <td style='color: #003399;font-size: 14px;'>
    {{ content.body.0['#text'] }}
  </td>
</tr>
<tr>
  <td>&nbsp;</td>
</tr>
