<tr>
  <td style="font-size: 14px; color: #003399;vertical-align: top">
    >&nbsp;
  </td>
  <td>
    > <a href="{{ url }}" style="color: #003399; text-decoration: none; font-size: 14px; font-weight: 600;">{{ label }}</a>
  </td>
</tr>
<tr>
  <td>&nbsp;</td>
</tr>

