/*Blocks right column*/
.view-oshwiki{
  .views-row{
    width: 100%;
    .block-osha-wiki {
      padding: 10px;
      margin: 0 0 20px;
      background: $bg-color-blue-block;
      .OSHWiki{
        .separatorOsHWiki{
          height: 5px;
        }
        #OSHWikiDivTit{
          display: flex;
          .imgOSHWiki{
            margin-right: 10px;
          }
        }
        .p2{
          font-size: 0.8rem;
          padding-top: 1.3rem;
          padding-bottom: 1.3rem;
        }
        .p3{
          text-align: right;
          margin-right: 10px;
          a{
            background: transparent;
            font-weight: bold;
          }
        }
      }
    }
  }
}

/* View related icons */
.view-related-icons {
  .view-content.row {
    margin: 0;
  }
  .related-resources-boxes{
    width: 100%;
  }
  .views-field-nothing {
    a {
      display: flex;
      width: 100%;
      padding: 10px;
      margin: 0 0 20px;
      background: $bg-color-blue-block;
      font-family: $font-family-sans-condensed;
      font-size: 1.25rem;
      color: $text-color-black;
      img {
        margin-top: 0.2rem;
        margin-right: 0.5rem;

      }
    }
  }
}
