/* Common styles to Fields */

.views-exposed-form{
  position: relative;
  padding-bottom: 2.5rem;
}

form{
  .form-control, .custom-select{
    height: 37px;
    border: 1px solid $bg-color-blue;
    border-radius: 5px;
    color: $text-color-blue;
    font-size: 13px;
  }
  label{
    display: block;
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 2px;
  }
  .chosen-container-single .chosen-single{
    border: 0;
    background: none;
  }
  #edit-actions{
    padding-left: 0;
    padding-right: 0;
  }
}

#edit-search-api-fulltext{
  margin-top: 24px;
}

.form-item-search-api-fulltext{
  position: relative;
}

#edit-submit-publications-index {
  position: absolute;
  width: 20px;
  top: 24px;
  left: 27%;
  background: url(../images/pink-search.png) no-repeat 96% 55%;
  border: 0;
  text-indent: -9999999px;
}


.custom-select{
  background: url(../images/pink-select.png) no-repeat scroll 94% center #FFF;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.chosen-container-multi.custom-select{
  padding-left: 0;
  height: auto;
}

.chosen-container-multi .chosen-choices{
  border: 0;
  background-image: none;
  margin-top: -3px;
  li.search-choice {
    border: none;
    background: none;
    box-shadow: none;
    color: $text-color-blue;
  }
}

.chosen-container-multi .chosen-choices li.search-choice span{
  display: block;
  padding-top: 2px;
}

.chosen-container-active .chosen-choices{
  box-shadow: none;
}

#edit-reset{
  position: absolute;
  left: 0;
  bottom: 20px;
  font-size: 0.9rem;
  background-color: $bg-color-white;
  border-color: $bg-color-white;
  color: $text-color-blue;
  border-bottom: 1px solid $text-color-pink;
  border-radius: 0;
  padding: 0;
}

/* Custom styles in Pages */
/*Publications*/
.tools-and-publications-publications{
  .view-filters{
    fieldset{
      width: 33%;
    }
    fieldset:nth-child(2){
      order: 3;
    }
  }
}


/* Rsponsive Filters */
@media only screen and (max-width : 767px) {

  #edit-submit-publications-index {
    left: 89%;
  }

  .chosen-container-multi.custom-select{
    width: 100% !important;
  }

  /* Custom styles in Pages */
  /*Publications*/
  .tools-and-publications-publications {
    .view-filters {
      fieldset {
        width: 100%;
      }
    }
  }

}

