/* Header Fields - Language selector - Search */
#header{
  .header-language-search{
    .block-language-dropdown-blocklanguage-content{
      background: url(../images/languageico.png) no-repeat scroll 99% 1px transparent;
      fieldset.mb-3{
        margin-bottom: 0!important;
      }
    }
    #edit-lang-dropdown-select{
      font-size: 0.9rem;
      font-weight: 400;
      height: 21px;
      color: $text-color-white;
      background: url(../images/icoSelect.png) no-repeat scroll 94% center $bg-color-pink;
      cursor: pointer;
      border-radius: 0;
      border: 0 none;
      display: block;
      float: right;
      margin-right: 30px;
      padding: 0 0 0 12px;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
    }
  }
}

#block-searchsite{
  position: relative;
  padding: 0;
  clear: both;
  float: right;
  margin-right: 50px;
  #edit-search-api-fulltext, #edit-keys--2{
    width: 140px;
    height: 21px;
    margin-right: 0;
    border-radius: 0;
    margin-top: 0;
    background: $bg-color-blue;
    color: $text-color-white;
    padding: 0 10px 0 10px;
  }
  #edit-actions--2{
    position: absolute;
    top: 0;
    right: -46px;
    .btn-primary{
      width: 35px;
      background: url(../images/searchico.png) no-repeat scroll 1px 1px transparent;
      text-indent: -99999px;
      outline: 0;
    }
  }
}

/* Files images */
#main{
  .file{
    a{
      padding-left: 3px;
    }
  }
  .file--application-octet-stream {
    background-image: url(../images/file-icons/application-octet-stream.png);
  }
  .file--application-pdf {
    background-image: url(../images/file-icons/application-pdf.png);
  }
  .file--application-x-executable {
    background-image: url(../images/file-icons/application-x-executable.png);
  }
  .file--package-x-generic {
    background-image: url(../images/file-icons/package-x-generic.png);
  }
  .file--x-office-spreadsheet {
    background-image: url(../images/file-icons/x-office-spreadsheet.png);
  }
  .file--x-office-document {
    background-image: url(../../images/file-icons/x-office-document.png);
  }
  .file--x-office-presentation {
    background-image: url(../images/file-icons/x-office-presentation.png);
  }
  .file--text-x-script {
    background-image: url(../images/file-icons/text-x-script.png);
  }
  .file--text-html {
    background-image: url(../images/file-icons/text-html.png);
  }
  .file--text-plain {
    background-image: url(../images/file-icons/text-plain.png);
  }
  .file--audio {
    background-image: url(../images/file-icons/audio-x-generic.png);
  }
  .file--video {
    background-image: url(../images/file-icons/video-x-generic.png);
  }
  .file--text {
    background-image: url(../images/file-icons/text-x-generic.png);
  }
  .file--image {
    background-image: url(../images/file-icons/image-x-generic.png);
  }
}

/* Common styles to Fields */
.views-exposed-form{
  position: relative;
  padding-bottom: 1rem;
  .btn-primary{
    margin-left: 5px;
    line-height: 1.6;
  }
}

.views-exposed-form.custom-active-filter{
  padding-bottom: 2.5rem;
}

input[type="date" i]::-webkit-calendar-picker-indicator {
  margin-left: 0px;
  background: transparent;
  cursor: pointer;
}

form{
  .form-control, select{
    height: 37px;
    border: 1px solid $bg-color-blue;
    border-radius: 5px;
    color: $text-color-blue;
    font-size: 13px;
  }
  select {
    padding-left: 10px;
    padding-right: 35px;
  }
  .form-date{
    width: 135px;
    padding-right: 5px;
    background: url(../images/ico-calendar.png) no-repeat scroll 96% center #FFF;
    cursor: pointer;
  }
  label{
    display: block;
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 3px;
  }
  .chosen-container-single .chosen-single{
    border: 0;
    background: none;
  }
  #edit-actions{
    padding-left: 0;
    padding-right: 0;
  }
}

.tools-and-publications-publications{
  #edit-search-api-fulltext{
    margin-top: 24px;
  }
}

.form-item-search-api-fulltext{
  position: relative;
}

select, .facets-dropdown{
  background: url(../images/pink-select.png) no-repeat scroll calc(100% - 10px) center #FFF;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.facets-dropdown{
  width: 100%;
  height: 37px;
  border: 1px solid $bg-color-blue;
  border-radius: 5px;
  color: $text-color-blue;
  font-size: 13px;
  padding-left: 12px;
}

.chosen-container-multi{
  padding-left: 0;
  height: auto;
}

.chosen-container-multi .chosen-choices{
  border: 0;
  background-image: none;
  margin-top: -3px;
  li.search-choice {
    border: none;
    background: none;
    box-shadow: none;
    color: $text-color-blue;
  }
}

.chosen-container-multi .chosen-choices li.search-choice span{
  display: block;
  padding-top: 2px;
}

.chosen-container-active .chosen-choices{
  box-shadow: none;
}

#edit-reset{
  display: none;
  position: absolute;
  left: 0;
  bottom: 20px;
  font-size: 0.9rem;
  background-color: $bg-color-white;
  border-color: $bg-color-white;
  color: $text-color-blue;
  border-bottom: 2px solid $text-color-pink;
  border-radius: 0;
  padding: 0;
  &:hover{
    border-bottom: 2px solid $text-color-blue;
  }
  &.custom-active{
    display: block;
  }
}

/* Custom styles in Pages */
/*Publications*/
.tools-and-publications-publications{
  .view-filters{
    fieldset{
      width: 33%;
    }
    fieldset:nth-child(3){
      width: 23%;
    }
    fieldset:nth-child(2){
      order: 3;
    }
    .views-exposed-form .btn-primary {
      margin-left: 0;
      margin-right: 10px;
    }
  }
}

.page-view-events{
  .views-exposed-form .btn-primary {
    margin-left: 0;
    margin-right: 5px;
  }
  .form-row>fieldset.form-item-field-country-code{
    order: 6;
  }
  .form-row>fieldset.form-item-sort-by{
    order: 7;
  }
}

.tools-and-resources-eu-osha-thesaurus-hierarchical,
.tools-and-resources-eu-osha-thesaurus-alphabetical,
.page-view-thesaurus-front-indexed
{
  .views-exposed-form .btn-primary {
    margin-left: 0;
    margin-right: 5px;
  }
  .form-row>fieldset.form-item-sort-by{
    order: 3;
  }
}

/* Rsponsive Filters */
@media only screen and (max-width : 767px) {

  #edit-submit-publications-index {
    left: 89%;
  }

  .chosen-container-multi{
    width: 100% !important;
  }

  /* Custom styles in Pages */
  /*Publications*/
  .tools-and-publications-publications {
    .view-filters {
      fieldset {
        width: 100%;
      }
    }
  }

}

