/*Headings*/
h1, h2, a, label, .page-title-h1{
  font-family: 'Open Sans',sans-serif;
  color: $text-color-blue;
}

h1, .page-title-h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

h2{
  font-size: 1.35rem;
  margin-bottom: 0;
  padding-left: 0;
  font-weight: 600;
  line-height: 30px;
  a{
    text-decoration: none;
    &:hover{
      text-decoration: underline;
      transition: all 1s;
    }
  }
}

.field--name-body{
  h2.Textfo , h2.Textbullet{
    strong{
      color: $text-color-black;
      font-weight: 400;
    }
  }
}

.node--view-mode-full{
  /* h2 - node Full details */
  h2 {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    clear: both;
    strong{
      font-weight: 600;
    }
  }
  h3 {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    a{
      color: $text-color-blue;
      text-decoration: none;
      border-bottom: 1px solid $bg-color-pink;
      &:hover {
        text-decoration: none;
        transition: border-bottom 1s;
        border-bottom: 1px solid $bg-color-blue;
      }
    }
  }
}

.node--type-article{
  .field--name-body{
    h2{
      font-weight: 600;
      strong{
        font-weight: 600;
      }
    }
    h3{
      font-weight: 600;
      strong{
        font-weight: 600;
      }
    }
    h4{
      font-weight: 600;
      strong{
        font-weight: 600;
      }
    }
  }
}

h2.related{
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 5px solid $bg-color-blue;
}

/* Blog */
.page-node-5445, .node--type-blog{
  .sidebar-second{
    .block-simplenews{
      h2{
        font-size: 1.35rem;
        border-bottom: 0;
      }
    }
    .block-twitter-block{
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
}

/* Home */
.path-frontpage{
  h2{
    font-size: 1.6rem;
    font-weight: 700;
  }
  h3{
    a{
      color: $text-color-blue;
      font-size: 1rem;
      font-weight: 700;
    }
  }
}

h3{
  font-size: 1.1rem;
  color: $text-color-black;
  a{
    color: $text-color-black;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
      transition: all 1s;
    }
  }
}

h3.custom-border{
  width: 100%;
  float: left;
  background: url(../images/grey-h3-line.png) 0 60% repeat-x;
  color: $text-color-grey-h3;
  padding: 0;
  span{
    background: $bg-color-white;
    padding-right: 1em;
  }
}

.related-resources-fluid {
  /* Related resources in Publications */
  h3.custom-border {
    span {
      background: $bg-color-blue-light;;
    }
  }
}

h3.h3-files-resources {
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.content-related{
  h2{
    font-size: 1.4rem;
    padding-top: 0;
    padding-bottom: 0;
  }
  h3.custom-border-related{
    width: 100%;
    float: none;
    background: url(../images/grey-h3-line.png) 0 60% repeat-x;
    color: $text-color-grey-h3;
    margin-bottom: 0;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
    span{
      background: $bg-color-blue-light;
      padding-right: 1em;
    }
  }
}

h3.home{
  color: $text-color-blue;
  a{
    color: $text-color-blue;
    font-size: 1.3rem;
    line-height: 1.1em;
    text-decoration: none;
    padding: 0;
    font-weight: bold;
    &:hover{
      text-decoration: underline;
    }
  }
}

.sidebar{
  h2 {
    font-size: 1.6rem;
    font-weight: 700;
    border-bottom: 0;
  }
}

