/*Headings*/
h1, h2, a, label, .page-title-h1{
  font-family: 'Open Sans',sans-serif;
  color: $text-color-blue;
}

h1, .page-title-h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

h2{
  font-size: 1.35rem;
  margin-bottom: 0;
  padding-left: 0;
  font-weight: 600;
  line-height: 30px;
  a{
    text-decoration: none;
    &:hover{
      text-decoration: underline;
      transition: all 1s;
    }
  }
}
.node--view-mode-full{
  /* h2 - node Full details */
  h2 {
    padding-top: 0.2rem;
    padding-bottom: 0.5rem;
  }
}

h2.related{
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 5px solid $bg-color-blue;
}

.sidebar-second{
  .block-views{
    h2{
      font-size: 1rem;
      font-weight: bold;
      padding-top: 10px;
      padding-bottom: 5px;
    }
  }
}

.path-frontpage{
  h2{
    font-size: 1.6rem;
    font-weight: 700;
  }
  h3{
    a{
      color: $text-color-blue;
      font-size: 1rem;
      font-weight: 700;
    }
  }
}

h3{
  font-size: 1.1rem;
  color: $text-color-black;
  a{
    color: $text-color-black;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
      transition: all 1s;
    }
  }
}

h3.custom-border{
  width: 100%;
  float: left;
  background: url(../images/grey-h3-line.png) 0 60% repeat-x;
  color: $text-color-grey-h3;
  padding: 0;
  span{
    background: $bg-color-white;
    padding-right: 1em;
  }
}

.content-related{
  h2{
    font-size: 1.4rem;
    padding-top: 1rem;
  }
  h3.custom-border-related{
    width: 100%;
    float: none;
    background: url(../images/grey-h3-line.png) 0 60% repeat-x;
    color: $text-color-grey-h3;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
    span{
      background: $bg-color-blue-light;
      padding-right: 1em;
    }
  }
}

h3.home{
  color: $text-color-blue;
  a{
    color: $text-color-blue;
    font-size: 1.3rem;
    line-height: 1.1em;
    text-decoration: none;
    padding: 0;
    font-weight: bold;
    &:hover{
      text-decoration: underline;
    }
  }
}

.sidebar{
  h2 {
    font-size: 1.6rem;
    font-weight: 700;
    border-bottom: 0;
  }
}

