ul.pagination{
  margin-top: 1rem;
  .page-item{
    border: 1px solid $bg-color-blue-light;
    margin-right: 0.5rem;
    padding: 0;
    &:hover{
      border: 1px solid $bg-color-blue;
    }
  }
  .page-item.active{
    border: 1px solid $bg-color-blue;
    .page-link{
      color: $text-color-pink;
      background-color: $bg-color-white;
      border: 0;
    }
  }
  .page-link{
    margin-left: 0;
    border: 0;
    color: $text-color-blue;
    font-weight: bold;
    padding: 12px 15px;
    &:hover {
      background-color: $text-color-white;
    }
  }

  .page-item.first, .page-item.prev, .pager__item--next, .page-item.last, .page-item[role=presentation] {
    border: 0;
    a{
      color: $text-color-pink;
      font-size: 2rem;
      font-weight: 400;
      height: 10px;
      margin-top: -12px;
    }
  }
}

.pager-total{
  display: block;
  color: $text-color-blue;
  font-weight: 600;
  float: right;
  clear: both;
  margin-top: -50px;
}
