/* Sidebar second */
.sidebar-second {
  .block-block-content, .block-aggregator{
    clear: both;
    margin-top: 2rem;
  }
  .block-aggregator{
    .list-group-item{
      border: 0;
      a{
        display: block;
        font-size: 0.8rem;
        line-height: 17px;
        padding-bottom: 10px;
        background: url(../images/li_arrow.png) no-repeat 1px 2px;
        padding-left: 15px;
      }
    }
  }
  .block{
    h2{
      font-size: 1.05rem;
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 10px;
      border-bottom: 5px solid $bg-color-blue;
    }
  }
}
.sidebar-second{
  .related-views{
    padding-left: 20px;
    padding-right: 20px;
    .views-element-container.block.block-views{
      float: left;
      width: 100%;
      background: url(../images/separator_home.jpg) repeat-x scroll 0% 100% rgba(0, 0, 0, 0);
      padding-left: 0;
      padding-right: 0;
      padding-top: 0.3rem;
      padding-bottom: 1.6rem;
    }
  }
   .views-row{
    padding-left: 15px;
    padding-right: 15px;
    a {
      display: block;
      font-size: 0.8rem;
      line-height: 17px;
      padding-bottom: 10px;
      background: url(../images/li_arrow.png) no-repeat 1px 2px;
      padding-left: 15px;
    }
  }
  .more-link{
    text-align: right;
    a{
      display: inline-block;
      background: url(../images/arrow.png) no-repeat calc(100% - 5px) 9px;
      padding: 5px 30px 5px 5px;
      font-size: 0.75rem;
      font-weight: bold;
      text-decoration: none;
      &:hover{
        color: $text-color-white;
        background: url(../images/arrow.png) no-repeat $bg-color-blue calc(100% - 5px) 9px;
        -webkit-transition: background-color 800ms linear;
        -moz-transition: background-color 800ms linear;
        -o-transition: background-color 800ms linear;
        -ms-transition: background-color 800ms linear;
        transition: background-color 800ms linear;
      }
      &:before{
        content: none;
      }
    }
  }
}

/*Blocks right column*/
.view-oshwiki{
  .views-row{
    width: 100%;
    .block-osha-wiki {
      padding: 10px;
      margin: 0 0 20px;
      background: $bg-color-blue-block;
      .OSHWiki{
        .separatorOsHWiki{
          height: 5px;
        }
        #OSHWikiDivTit{
          display: flex;
          .imgOSHWiki{
            margin-right: 10px;
          }
        }
        .p2{
          font-size: 0.8rem;
          padding-top: 1.3rem;
          padding-bottom: 1.3rem;
        }
        .p3{
          text-align: right;
          margin-right: 10px;
          a{
            background: transparent;
            font-weight: bold;
          }
        }
      }
    }
  }
}

/* View related icons */
.view-related-icons {
  .view-content.row {
    margin: 0;
  }
  .related-resources-boxes{
    width: 100%;
  }
  .views-field-nothing {
    a {
      display: flex;
      width: 100%;
      padding: 10px;
      margin: 0 0 20px;
      background: $bg-color-blue-block;
      font-family: $font-family-sans-condensed;
      font-size: 1.25rem;
      color: $text-color-black;
      img {
        margin-top: 0.2rem;
        margin-right: 0.5rem;

      }
    }
  }
}

/* Press contacts */
.sidebar-second{
  .view-press-contacts {
    .view-content.row{
      margin-left: 0;
      margin-right: 0;
      .views-row {
        float: left;
        width: 100%;
        background: url(../images/separator_home.jpg) repeat-x scroll 0% 100% rgba(0, 0, 0, 0);
        padding-left: 0;
        padding-right: 0;
        padding-top: 0.3rem;
        padding-bottom: 0.6rem;
        .field-content {
          display: block;
          font-size: 0.85rem;
          margin-bottom: 0.3rem;
        }
        .views-field-field-press-contact-job-title {
          font-weight: bold;
        }
        .views-field-field-press-contact-email {
          a {
            background: url("../images/mailto.png") 0 4px transparent no-repeat;
            padding-left: 17px;
          }
        }
      }
    }
    .view-footer{
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}
.block-views-blockblog-block-2{
  margin-bottom: 2rem;
}

#block-followuson--2{
  background: $bg-color-blue-light-2;
  padding: 0.5rem 1rem 1rem 1rem;
  h2{
    border-bottom: 0;
    padding: 0 0 0.5rem 0;
    margin: 0;
  }
  img{
    margin-right: 10px;
  }
}

#become-partner-intro, #join-list-intro{
  font-size: 0.8rem;
  padding-bottom: 10px;
}
