#main{
  .node--type-article{
    table{
      margin-top: 1rem;
      border-color: grey;
      border-top-width: 1px;
      border-right-width: 1px;
      border-bottom-width: 1px;
      border-left-width: 1px;
      tr{
        background: $bg-color-white;
        th{
          color: $text-color-black;
          font-size: 0.9rem;
          background: $bg-color-white;
          font-weight: bold;
          border: 1px solid grey;
        }
        td{
          font-size: 1rem;
          padding: 0.9rem;
          border: 1px solid grey;
          p{
            font-size: 0.9rem;;
          }
          img{
            width: auto;
            height: auto;
          }
        }
      }
    }
  }
  .wysiwyg_accordion_panel{
    table{
      margin-top: 0;
      margin-bottom: 1rem;
      border-color: transparent;
      border-top-width: 0;
      border-right-width: 0;
      border-bottom-width: 0;
      border-left-width: 0;
      tr{
        background: $bg-color-white;
        th{
          color: $text-color-black;
          font-size: 0.9rem;
          background: $bg-color-white;
          font-weight: bold;
          border: 0;
        }
        td{
          font-size: 1rem;
          padding: 0.9rem;
          border: 0;
          p{
            font-size: 0.9rem;;
          }
          img{
            width: auto;
            height: auto;
          }
        }
      }
    }
  }
}

/* Contact us */
.page-node-5468{
  #main{
    .node--type-article{
      table{
        border-collapse: initial;
        tr{
          th{
            border: 0;
          }
          td{
            border: 0;
            padding: 0;
          }
        }
      }
    }
  }
}

