#main{
  .node--type-article{
    table{
      margin-top: 1rem;
      border-color: grey;
      border-top-width: 1px;
      border-right-width: 1px;
      border-bottom-width: 1px;
      border-left-width: 1px;
      tr{
        background: $bg-color-white;
        th{
          color: $text-color-black;
          font-size: 0.9rem;
          background: $bg-color-white;
          font-weight: bold;
          border: 1px solid grey;
        }
        td{
          font-size: 1rem;
          padding: 0.9rem;
          border: 1px solid grey;
          p{
            font-size: 0.9rem;;
          }
          img{
            width: auto;
            height: auto;
          }
        }
      }
    }
  }
}
