/* Font colours */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap");
.text-color-blue {
  color: #003399;
}

.text-color-pink {
  color: #dc2f82;
}

.text-color-black {
  color: #000;
}

.text-color-black-label {
  color: #333;
}

.text-color-grey-light {
  color: #7c7d81;
}

.text-color-grey {
  color: #57575a;
}

.text-color-white {
  color: #FFF;
}

/* background colours */
.bg-color-blue {
  background: #003399;
}

.bg-color-blue-light {
  background: #cfddee;
}

.bg-color-blue-block {
  background: #ecf1fb;
}

.bg-color-blue-wiki {
  background: #325bad;
}

.bg-color-blue-accordion {
  background: #e8eef7;
}

.bg-color-blue-button {
  background: #b2c7e5;
}

.bg-color-pink {
  background: #dc2f82;
}

.bg-color-grey {
  background: #57575a;
}

.bg-color-white {
  background: #FFF;
}

.bg-color-tag-1 {
  background: #4e6aa0;
}

.bg-color-tag-2 {
  background: #e8eef7;
}

/*Font Family*/
@font-face {
  font-family: "Open Sans";
}
body {
  font-family: "Open Sans";
  background: #FFF;
}

h1 {
  color: red;
  font-family: "Open Sans Condensed";
}

/* Breadcrumbs */
.featured-top {
  border-bottom: 2px solid #cfddee;
  padding-bottom: 5px;
  margin-bottom: 2em;
  background-color: #FFF;
}
.featured-top #block-ncwtheme-breadcrumbs {
  font-size: 0.8rem;
  font-weight: lighter;
  border: 0;
  clear: both;
  padding: 1em 15px 0 15px;
  max-width: 1160px;
  margin: 0 auto;
}
.featured-top #block-ncwtheme-breadcrumbs a {
  color: #003399;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid #dc2f82;
}
.featured-top #block-ncwtheme-breadcrumbs a:hover {
  transition: border-bottom 1s;
  border-bottom: 1px solid #003399;
}

.navbar {
  padding: 0;
}
.navbar #block-ncwtheme-main-menu {
  float: none;
  width: 100%;
  background-color: #cfddee;
  border-bottom: 5px solid #003399;
  text-align: left;
  padding-bottom: 0;
  padding-left: 0;
}
.navbar #block-ncwtheme-main-menu a {
  color: #003399;
  font-size: 0.9rem;
  font-weight: 700;
  padding-left: 0;
  padding-right: 0;
}
.navbar #block-ncwtheme-main-menu .dropdown-toggle::after {
  content: none;
}
.navbar #block-ncwtheme-main-menu .dropdown-toggle {
  white-space: initial;
}
.navbar #block-ncwtheme-main-menu li.nav-item {
  padding: 0.6rem 0.1rem 0.6rem 0.1rem;
  width: 12%;
  text-align: center;
  border-left: 1px solid #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar #block-ncwtheme-main-menu li.nav-item ul.dropdown-menu {
  width: 20.6em;
  background: #FFF;
  border: 0;
  border-radius: 0;
  border-top: 5px solid #cfddee;
  margin-top: 0px;
  margin-left: -1px;
}
.navbar #block-ncwtheme-main-menu li.nav-item ul.dropdown-menu a.dropdown-toggle {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bold;
}
.navbar #block-ncwtheme-main-menu li.nav-item ul.dropdown-menu .dropdown-menu {
  border: 0;
  width: 100%;
  border-bottom: 5px solid #003399;
  width: 20.6em;
  padding-top: 0;
  padding-left: 2rem;
}
.navbar #block-ncwtheme-main-menu li.nav-item ul.dropdown-menu .dropdown-menu .dropdown-item {
  padding: 0;
}
.navbar #block-ncwtheme-main-menu li.nav-item ul.dropdown-menu .dropdown-menu .dropdown-item a {
  color: #57575a;
  font-size: 0.8rem;
}
.navbar #block-ncwtheme-main-menu li.nav-item:hover ul.dropdown-menu {
  display: block;
}
.navbar #block-ncwtheme-main-menu li.nav-item:nth-child(1) {
  width: 3%;
  border-left: 0;
}
.navbar #block-ncwtheme-main-menu li.nav-item:last-child ul {
  margin-left: -80px;
}
.navbar #block-ncwtheme-main-menu li.nav-item:last-child ul li ul {
  margin-left: 0;
}
.navbar #block-ncwtheme-main-menu .dropdown-item:focus, .navbar #block-ncwtheme-main-menu .dropdown-item:hover {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

/*# sourceMappingURL=ncw-global.css.map */
