/* Font colours */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap");
.text-color-blue {
  color: #003399;
}

.text-color-pink {
  color: #dc2f82;
}

.text-color-black {
  color: #000;
}

.text-color-black-label {
  color: #333;
}

.text-color-grey-light {
  color: #7c7d81;
}

.text-color-grey {
  color: #57575a;
}

.text-color-white {
  color: #FFF;
}

/* background colours */
.bg-color-blue {
  background: #003399;
}

.bg-color-blue-light {
  background: #cfddee;
}

.bg-color-blue-block {
  background: #ecf1fb;
}

.bg-color-blue-wiki {
  background: #325bad;
}

.bg-color-blue-accordion {
  background: #e8eef7;
}

.bg-color-blue-button {
  background: #b2c7e5;
}

.bg-color-pink {
  background: #dc2f82;
}

.bg-color-grey {
  background: #57575a;
}

.bg-color-white {
  background: #FFF;
}

.bg-color-tag-1 {
  background: #4e6aa0;
}

.bg-color-tag-2 {
  background: #e8eef7;
}

/*Font Family*/
@font-face {
  font-family: "Open Sans";
}
/* Common elements */
body {
  font-family: "Open Sans";
  background: #FFF;
  font-size: 16px;
}

/*Headings*/
h1, h2, a, label {
  font-family: "Open Sans", sans-serif;
  color: #003399;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0;
  font-weight: 600;
}

h2 {
  font-size: 1.35rem;
  margin-bottom: 0;
  padding-left: 0;
  font-weight: 600;
  line-height: 30px;
}
h2 a {
  text-decoration: none;
}
h2 a:hover {
  text-decoration: underline;
  transition: all 1s;
}

h3 {
  font-size: 1.1rem;
  color: #000;
}
h3 a {
  color: #000;
  text-decoration: none;
}
h3 a:hover {
  text-decoration: underline;
  transition: all 1s;
}

h3.related {
  width: 100%;
  float: left;
  background: url(../images/grey-h3-line.png) 0 60% repeat-x;
  color: #5a5a5b;
  padding: 0;
}
h3.related span {
  background: #FFF;
  padding-right: 1em;
}

h3.home {
  color: #003399;
}
h3.home a {
  color: #003399;
  font-size: 1.3rem;
  line-height: 1.1em;
  text-decoration: none;
  padding: 0;
  font-weight: bold;
}
h3.home a:hover {
  text-decoration: underline;
}

.sidebar h2 {
  font-size: 1.6rem;
  font-weight: 700;
  border-bottom: 0;
}

.push-right {
  margin-left: auto;
}

/* END Common elements */
/* Twetter Block */
.block-twitter-block {
  height: 757px;
  overflow-y: scroll;
  border-bottom: 1px solid #e1e8ed;
  padding-bottom: 9px;
  padding-left: 0em;
  clear: both;
  border: 0;
}

.block-twitter-block::-webkit-scrollbar-track {
  background-color: #cfddee;
}

.block-twitter-block::-webkit-scrollbar {
  width: 5px;
  background-color: #cfddee;
}

.block-twitter-block::-webkit-scrollbar-thumb {
  background-color: #003399;
}

footer.site-footer {
  padding: 0;
  font-family: "Open Sans";
  background: #003399;
}
footer.site-footer .site-footer__bottom {
  border: 0;
}
footer.site-footer .site-footer__bottom .region-footer-end {
  /* Main menu */
  /* Copyright Block */
  /* Menu links and Social media */
}
footer.site-footer .site-footer__bottom .region-footer-end nav#block-mainnavigation ul.menu-level-0 {
  list-style: none;
  height: 100%;
}
footer.site-footer .site-footer__bottom .region-footer-end nav#block-mainnavigation ul.menu-level-0 li.menu-item {
  float: left;
  width: 103px;
  margin-right: 20px;
}
footer.site-footer .site-footer__bottom .region-footer-end nav#block-mainnavigation ul.menu-level-0 li.menu-item > a {
  display: none;
}
footer.site-footer .site-footer__bottom .region-footer-end nav#block-mainnavigation ul.menu-level-0 li.menu-item ul.menu-level-1 {
  list-style: none;
}
footer.site-footer .site-footer__bottom .region-footer-end nav#block-mainnavigation ul.menu-level-0 li.menu-item ul.menu-level-1 li {
  width: 100%;
}
footer.site-footer .site-footer__bottom .region-footer-end nav#block-mainnavigation ul.menu-level-0 li.menu-item ul.menu-level-1 li a {
  display: block;
  color: #FFF;
  font-size: 0.6rem;
  font-weight: bold;
  padding-bottom: 5px;
}
footer.site-footer .site-footer__bottom .region-footer-end nav#block-mainnavigation ul.menu-level-0 li.menu-item ul.menu-level-1 li ul.menu-level-2 {
  list-style: none;
}
footer.site-footer .site-footer__bottom .region-footer-end nav#block-mainnavigation ul.menu-level-0 li.menu-item ul.menu-level-1 li ul.menu-level-2 li {
  float: none;
  display: block;
  clear: both;
}
footer.site-footer .site-footer__bottom .region-footer-end nav#block-mainnavigation ul.menu-level-0 li.menu-item ul.menu-level-1 li ul.menu-level-2 li a {
  display: block;
  color: #FFF;
  font-size: 0.6rem;
  font-weight: normal;
}
footer.site-footer .site-footer__bottom .region-footer-end nav#block-mainnavigation ul.menu-level-0 li.menu-item:nth-child(1) {
  /* Menu item Home */
  width: 70px;
}
footer.site-footer .site-footer__bottom .region-footer-end nav#block-mainnavigation ul.menu-level-0 li.menu-item:nth-child(1) > a {
  display: block;
  color: #FFF;
  border-right: 0;
  font-size: 0.6rem;
  font-weight: bold;
}
footer.site-footer .site-footer__bottom .region-footer-end nav#block-mainnavigation ul.menu-level-0 li.menu-item:nth-child(1) .field--type-image {
  display: none;
}
footer.site-footer .site-footer__bottom .region-footer-end #block-copyright {
  width: 100%;
  color: #FFF;
  border-top: 1px solid #FFF;
  padding: 1rem 2rem 0.2rem 2rem;
  margin: 0;
}
footer.site-footer .site-footer__bottom .region-footer-end #block-copyright p {
  color: #FFF;
  padding-bottom: 0;
  margin-bottom: 0;
}
footer.site-footer .site-footer__bottom .region-footer-end #block-copyright p a {
  color: #FFF;
}
footer.site-footer .site-footer__bottom .region-footer-end nav#block-footermenu {
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0 2rem 1rem 2rem;
}
footer.site-footer .site-footer__bottom .region-footer-end nav#block-footermenu ul.menu-level-0 {
  list-style: none;
}
footer.site-footer .site-footer__bottom .region-footer-end nav#block-footermenu ul.menu-level-0 li.menu-item a {
  /*First level*/
  display: none;
}
footer.site-footer .site-footer__bottom .region-footer-end nav#block-footermenu ul.menu-level-0 li.menu-item ul.menu-level-1 {
  list-style: none;
}
footer.site-footer .site-footer__bottom .region-footer-end nav#block-footermenu ul.menu-level-0 li.menu-item ul.menu-level-1 li {
  float: left;
}
footer.site-footer .site-footer__bottom .region-footer-end nav#block-footermenu ul.menu-level-0 li.menu-item ul.menu-level-1 li a {
  display: inline-block;
  color: #FFF;
  font-size: 0.9rem;
  border-right: 0;
  padding-left: 0;
  padding-right: 20px;
}
footer.site-footer .site-footer__bottom .region-footer-end nav#block-footermenu ul.menu-level-0 li.menu-item.menu-item--expanded:nth-child(1) {
  float: left;
}
footer.site-footer .site-footer__bottom .region-footer-end nav#block-footermenu ul.menu-level-0 li.menu-item.menu-item--expanded:nth-child(2) {
  float: right;
}
footer.site-footer .site-footer__bottom .region-footer-end nav#block-footermenu ul.menu-level-0 li.menu-item.menu-item--expanded:nth-child(2) > div > ul > li > a {
  /* Hide ico title link */
  display: none;
}
footer.site-footer .site-footer__bottom .region-footer-end nav#block-footermenu ul.menu-level-0 li.menu-item.menu-item--expanded:nth-child(2) .field--type-entity-reference {
  margin: 0;
}
footer.site-footer .site-footer__bottom .region-footer-end nav#block-footermenu ul.menu-level-0 li.menu-item.menu-item--expanded:nth-child(2) .field--type-entity-reference img {
  margin: 0;
}
footer.site-footer .site-footer__bottom .region-footer-end nav#block-footermenu ul.menu-level-0 li.menu-item.menu-item--expanded:nth-child(2) .field--type-entity-reference img:hover {
  opacity: 0.8;
}

/* Breadcrumbs */
.featured-top {
  border-bottom: 2px solid #cfddee;
  padding-bottom: 5px;
  margin-bottom: 2em;
  background-color: #FFF;
}
.featured-top #block-ncwtheme-breadcrumbs {
  font-size: 0.8rem;
  font-weight: lighter;
  border: 0;
  clear: both;
  padding: 1em 15px 0 15px;
  max-width: 1160px;
  margin: 0 auto;
}
.featured-top #block-ncwtheme-breadcrumbs a {
  color: #003399;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid #dc2f82;
}
.featured-top #block-ncwtheme-breadcrumbs a:hover {
  transition: border-bottom 1s;
  border-bottom: 1px solid #003399;
}

.top-header-content {
  height: 135px;
  display: flex;
  align-content: center;
  margin-left: 0;
  margin-right: 0;
}
.top-header-content .region-top-header-logos {
  float: left;
  margin-left: 1rem;
}
.top-header-content .region-top-header-logos .field--name-field-image {
  display: flex;
  margin: 0;
  align-items: center;
}
.top-header-content .region-top-header-logos .field--name-field-image .field__item {
  float: left;
  margin-right: 20px;
}
.top-header-content .region-top-header-logos .field--name-field-image .field__item img {
  margin: 0;
}

.header-blocks section.row {
  margin-right: 30px;
}

/* Hide menu link to view only the Share links images in header and footer */
#block-socialmenu > ul, #block-socialmenu-2 > ul {
  list-style: none;
}
#block-socialmenu > ul > li > a, #block-socialmenu-2 > ul > li > a {
  display: none;
}

.navbar {
  padding: 0;
}
.navbar #block-ncwtheme-main-menu {
  float: none;
  width: 100%;
  background-color: #cfddee;
  border-bottom: 5px solid #003399;
  text-align: left;
  padding-bottom: 0;
  padding-left: 0;
}
.navbar #block-ncwtheme-main-menu a {
  color: #003399;
  font-size: 0.9rem;
  font-weight: 700;
  padding-left: 0;
  padding-right: 0;
}
.navbar #block-ncwtheme-main-menu ul.menu-level-0 {
  width: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  border: 0;
  border-radius: 0;
  margin-top: 0px;
  margin-bottom: 0;
  padding-left: 0;
}
.navbar #block-ncwtheme-main-menu ul.menu-level-0 > li.menu-item:nth-child(1) {
  width: 3%;
  border-left: 0;
  text-align: center;
}
.navbar #block-ncwtheme-main-menu ul.menu-level-0 > li.menu-item:nth-child(1) > a {
  display: none;
}
.navbar #block-ncwtheme-main-menu ul.menu-level-0 > li.menu-item:nth-child(1) .field--type-entity-reference {
  margin: 0;
}
.navbar #block-ncwtheme-main-menu ul.menu-level-0 > li.menu-item:nth-child(1) .field--type-entity-reference img {
  margin: 0;
}
.navbar #block-ncwtheme-main-menu ul.menu-level-0 > li.menu-item:last-child ul {
  margin-left: -80px;
}
.navbar #block-ncwtheme-main-menu ul.menu-level-0 > li.menu-item:last-child ul li ul {
  margin-left: 0;
}
.navbar #block-ncwtheme-main-menu ul.menu-level-0 > li.menu-item {
  position: relative;
  float: left;
  width: 13%;
  text-align: center;
  padding: 1rem 1rem 1rem 1rem;
  border-left: 1px solid #FFF;
}
.navbar #block-ncwtheme-main-menu ul.menu-level-0 > li.menu-item:hover ul.menu-level-1 {
  position: absolute;
  display: block;
  background: #FFF;
  left: 0;
  margin-left: -1.3em;
  margin-top: 1em;
  border-top: 5px solid #cfddee;
  border-bottom: 5px solid #003399;
  z-index: 999;
}
.navbar #block-ncwtheme-main-menu ul.menu-level-0 li ul.menu-level-1 {
  display: none;
  background: #FFF;
  list-style: none;
  width: 22rem;
  padding: 10px 10px 10px 20px;
}
.navbar #block-ncwtheme-main-menu ul.menu-level-0 li ul.menu-level-1 li {
  text-align: left;
}
.navbar #block-ncwtheme-main-menu ul.menu-level-0 li ul.menu-level-1 li ul.menu-level-2 {
  list-style: none;
  padding-left: 10px;
}
.navbar #block-ncwtheme-main-menu ul.menu-level-0 li ul.menu-level-1 li ul.menu-level-2 li {
  text-align: left;
}
.navbar #block-ncwtheme-main-menu ul.menu-level-0 li ul.menu-level-1 li ul.menu-level-2 li a {
  display: block;
  color: #57575a;
  font-weight: bold;
  font-size: 0.8rem;
  padding-bottom: 5px;
  padding-top: 5px;
}

/*# sourceMappingURL=ncw-global.css.map */
