.htmlmail-simplenews-body {
  width: 600px;
  background-color: #def2c4;
  color: #665446;
  padding: 10px;
  border: 2px solid #665446;
}
/*Links*/
a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
  color: red!important;
}
.table.newsletter-container {
  background: #ff6600;
}

.newsletter-container tr{
  background: red;
}
