<div>
  {% if message is not empty %}
    <div class="ncc-message">{{ message }}</div>
  {% endif %}
  {% for element in elements %}
    <div class="row">
      {% if element.image is not empty %}
        <div class="col-sm-12 col-md-6 ncc-image">{{ element.image }}</div>
      {% endif %}
      {% if element.title is not empty %}
        <div class="col-sm-12 col-md-6 ncc-title">{{ element.title }}</div>
      {% endif %}
    </div>
  {% endfor %}
  {% if button is not empty %}
    <div class="ncc-button">{{ button }}</div>
  {% endif %}
</div>
