select, input, textarea, button {
  font-family: 'Open Sans', sans-serif;
}

body.contact{
  form.contact-form{
    width: 80%;
    background: $bg-color-blue-light-2;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 2rem;
    border: 1px solid $bg-color-blue;
    border-radius: 3px;
    label{
      margin-top: 0.5rem;
      padding-bottom: 5px;
      font-weight: 600;
    }
    select {
      background: url(../images/pink-select.png) no-repeat scroll 98.5% center #FFF;
    }
    .form-control{
      color: $text-color-black;
    }
    textarea.form-control{
      height: 150px;
    }
    button.btn-primary{
      margin-top: 2rem;
    }
  }
}

/* Form Governance */
.about-eu-osha-governance-eu-osha-internal-documents-document-request-form{
  .js-form-wrapper{
    border: 1px solid #CCC;
    margin-bottom: 2rem !important;
    padding: 1rem;
  }
  .js-form-wrapper#edit-actions{
    border: 0;
    margin-bottom: 0;
    padding: 0;
  }
  .legend{
    background: #FFF;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -30px;
    display: table;
    width: auto;
  }
  fieldset{
    p{
      margin-bottom: 0 !important;
    }
  }
  .blue{
    color: $text-color-blue;
  }
  .form-item-date-of-the-document{
    position: relative;
    max-width: 220px;
    .ui-datepicker-trigger{
      position: absolute;
      top: 3px;
      right: 30px;
    }
  }
  #edit-date-of-the-document{
    max-width: 220px;
  }
  select{
    min-width: 220px;
  }
  #edit-submit{
    display: none;
  }
}

/* Page preview form Governance*/
.page-node-29110{
  #edit-preview{
    border: 0;
    padding: 0;
  }
  #edit-submit{
    display: inline-block;
  }
}

/* Form Alert Service */
.webform-submission-alertservice-temporary-form{
  .alert-warning{
    display: flex;
    margin-bottom: 0;
    div{
      color: #d8872a;
      padding-top: 6px;
      padding-left: 10px;
    }
  }
  .alert-warning::before{
    height: 1.95rem;
  }
  .form-select{
    min-width: 100%;
  }
  #edit-item-type, #edit-additional-languages{
    width: 100%;
    height: 200px;
  }
  #edit-receive-oshmail--wrapper, #edit-agree-processing-personal-data--wrapper{
    .fieldset-legend{
      display: none;
    }
    .form-check-label{
      font-weight: normal;
    }
  }
  .form-submit{
    background: #cfddee;
    color: $text-color-blue;
    opacity: 0.5;
    cursor: not-allowed !important;
    pointer-events: none! important;
  }
  select{
    background: url(../images/pink-select.png) no-repeat scroll calc(100% - 30px) center #FFF;
  }
  .chosen-container {
    .chosen-choices {
      background: url(../images/pink-select.png) no-repeat scroll calc(100% - 30px) center #FFF;
    }
  }
}

.chosen-container{
  .chosen-choices{
    color: $text-color-blue;
    min-height: 37px;
    font-size: 13px;
    border: 1px solid $bg-color-blue;
    margin-top: 0px;
    border-radius: 5px;
    background: url(../images/pink-select.png) no-repeat scroll calc(100% - 10px) center #FFF;
    .search-field{
      padding-top: 4px !important;
    }
    .search-choice{
      padding-top: 6px !important;
    }
  }
}


@media only screen and (max-width : 768px) {
  body.contact{
    form.contact-form{
      width: 100%;
    }
  }


}/* End Media 768px */
