select, input, textarea, button {
  font-family: 'Open Sans', sans-serif;
}

body.contact{
  form.contact-form{
    width: 80%;
    background: $bg-color-blue-light-2;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 2rem;
    border: 1px solid $bg-color-blue;
    border-radius: 3px;
    label{
      margin-top: 0.5rem;
      padding-bottom: 5px;
      font-weight: 600;
    }
    select {
      background: url(../images/pink-select.png) no-repeat scroll 98.5% center #FFF;
    }
    .form-control{
      color: $text-color-black;
    }
    textarea.form-control{
      height: 150px;
    }
    button.btn-primary{
      margin-top: 2rem;
    }
  }
}

/* Form Governance */
.about-eu-osha-governance-eu-osha-internal-documents-document-request-form{
  .js-form-wrapper{
    border: 1px solid #CCC;
    margin-bottom: 2rem !important;
    padding: 1rem;
  }
  .js-form-wrapper#edit-actions{
    border: 0;
    margin-bottom: 0;
    padding: 0;
  }
  .legend{
    background: #FFF;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -30px;
    display: table;
    width: auto;
  }
  fieldset{
    p{
      margin-bottom: 0 !important;
    }
  }
  .blue{
    color: $text-color-blue;
  }
  #edit-submit{
    display: none;
  }
}

/* Page preview form Governance*/
.page-node-29110{
  #edit-preview{
    border: 0;
    padding: 0;
  }
  #edit-submit{
    display: inline-block;
  }
}


@media only screen and (max-width : 768px) {
  body.contact{
    form.contact-form{
      width: 100%;
    }
  }


}/* End Media 768px */
