.view-msd-glossary{
  .term-glosssary-msd-letter{
    font-weight: bold;
    margin-right: 1rem;
  }
  h3{
    display: block;
    width: 100%;
    color: $text-color-blue;
    font-size: 1.45rem;
    margin-top: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 15px;
    margin-right: 15px;
    &:after{
      content: '';
      display: block;
      width: calc(100% - 35px);
      border-bottom: 1px solid $bg-color-blue;
      margin-left: 35px;
      margin-top: -7px;
    }
  }
  .revamp-row {
    h2 {
      font-size: 0.9rem;
      font-weight: bold;
      margin-bottom: 0;
    }
    p{
      font-size: 0.9rem;
      margin-bottom: 1rem;
    }
  }
}

/* Accordions glossary view */
.view-view-glossary{
  .views-view-grid{
    display: none;
    padding-left: 8px;
    padding-right: 8px;
  }
  .view-content.row{
    margin-left: 0;
    margin-right: 0;
  }
  .field-content{
    font-size: 0.9rem;
  }
  .views-field-name{
    color: $text-color-blue;
    font-weight: 600;
    padding-bottom: 5px;
    strong{
      font-weight: 600;
    }
  }
  p{
    margin-bottom: 0;
  }
}

