.page-view-publications-index{
  .node-publications-custom{
    h1{
      padding-bottom: 0;
    }
  }
}

/* Node publications */
.node-publications-custom{
  h1{
    padding-bottom: 1rem;
  }
  h2{
    display: none;
  }
  p{
    color: $text-color-blue;
  }
  /*Hide Share Links*/
  #share-this-on{
    display: none;
  }
}

/* Publications Slide 3 items */
.view-publications{
  padding-top: 1.5rem;
  .views-col{
    background: #FFF;
    padding: 10px 10px 0 0;
    border-right: 15px solid $bg-color-blue-light;
  }
  .views-field-field-image-media{
    .field-content{
      float: left;
      margin-right: 0.5rem;
    }
  }

  h2{
    a{
      display: block;
      font-size: 1rem;
      font-weight: 700;
      padding-top: 1rem;
      padding-bottom: 1rem;
      line-height: 19px;
    }
  }

  .views-field-field-publication-type{
    .views-label{
      float: left;
      color: $text-color-blue;
      font-weight: 700;
      font-size: 0.9rem;
    }
    .field-content{
      float: left;
      color: $text-color-blue;
      font-size: 0.9rem;
      padding-left: 5px;
    }
  }
  .views-field-field-pages-count{
    color: $text-color-blue;
    position: absolute;
    right: 9px;
    top: 12px;
    font-size: 0.8rem;
    display: flex;
    .views-label-field-pages-count{
      padding-right: 3px;
    }
  }
  .see-more-arrow{
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

/* Publications view */
.tools-and-publications-publications{
  .two-column{
    h1{
      display: none;
    }
  }
  .revamp-row{
    .publications-right-column{
      width: 100%;
      padding-left: 2rem;
      .content-publication-info {
        display: flex;
        span:nth-child(1){
          width: 40%;
        }
        span:nth-child(2){
          width: 55%;
          font-weight: normal;
        }
        span:nth-child(3){
          width: 15%;
          text-align: right;
          padding-right: 15px;
        }
      }
      h2{
        font-weight: 400;
        font-size: 1.35rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
      }
    }
  }
}

.custom-number{
  padding-right: 5px;
  font-size: 0.9rem;
  color: $text-color-blue;
}

/* Publications Detail */
body.node--type-publication{
  /*** To avoid horizontal scrollbar because some browsers understand 100vw with the vertical scroll ***/
  max-width: 100%;
  overflow-x: hidden;
  /*** ***/
}
.download-pdf.no-bg{
  background: transparent;
  padding: 0;
}
.node--type-publication{
  h1{
    font-size: 1.3rem;
    font-weight: 400;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 600;
  }
  .publications-row{
    display: flex;
  }
  .publications-row.custom-add-margin{
    padding-bottom: 2rem;
  }
  .publications-detail-right-column{
    width: 100%;
    padding-left: 2rem;
    h2 {
      margin-bottom: 21px;
      font-weight: normal;
      padding: 0;
      font-size: 1.3rem;
    }
    .content-publication-info {
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .field--name-field-image-media{
    img{
      float: left;
    }
  }
  .content-publication-info{
    padding: 14px 0;
    display: flex;
    flex-direction: column;
    .content-label{
      display: flex;
      align-items: flex-start;
      color: $text-color-blue;
      .label{
        font-size: 0.9rem;
        padding-right: 5px;
      }
      .field{
        padding: 0;
        font-size: 0.9rem;
        line-height: 24px;
      }
    }
    .content-label:nth-child(1){
      padding-right: 5px;
    }
  }
  .datetime{
    display: block;
    font-size: 0.9rem;
  }
  .field.field--name-field-tags{
    > ul{
      >li{
        padding-right: 0;
        > a:before{
          content: ',';
          padding-right: 3px;
        }
      }
      >:nth-child(1){
        > a:before{
          content: none;
        }
      }
    }
  }
  .field--type-entity-reference{
    padding-bottom: 0;
    .field-item.publication-field{
      clear: both;
      margin-top: 1rem;
    }
    > .field-item.publication-field:nth-child(1){
      margin-top: 0;
      border:1px solid red;
    }
  }
  .related-resources-fluid{
    float: left;
    clear: both;
    @extend .full-width;
    background: $bg-color-blue-light;
    padding: 0;
    width: 100vw;
    position: relative;
    padding-bottom: 0;
    .publications-detail-right-column{
      padding-top: 1rem;
      padding-right: 6rem;
    }
    .node--type-publication{
      h2{
        font-size: 1.2rem;
        font-weight: 400;
      }
    }
  }
}

.related-resources-fluid{
  .node--view-mode-osha-resources{
    clear: both;
    margin-bottom: 0;
  }
  .field--name-field-aditional-resources {
    .publication-field {
      width: 100%;
      background: transparent;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

.field--name-field-aditional-resources {
  .publication-field {
    width: 100%;
    background: url(../images/back-tit-blue.png) repeat-x scroll 0 100% transparent;
    margin-bottom: 1.3rem;
    padding-bottom: 1.3rem;
    .layout__region--content {
      display: flex;
      gap: 24px;
    }
    .field {
      color:$text-color-blue;
    }
    .field--name-field-image-media {
      max-width: 155px;
    }
    .field--name-field-publication-type {
      color:$text-color-blue;
      font-size: 0.875rem;
      display: flex;
      padding: 0;
      line-height: 24px;
      .field__label {
        font-weight: bold;
        &:after {
          display: inline-block;
          content:":";
          margin: 0 3px 0 0;
        }
      }
    }
    .field-name-field-pages-count {
      padding-bottom: 14px;
      display: flex;
      font-size: 0.875rem;
      .field-label-inline {
        margin: 0 0 0 3px;
        order: 2;
      }
    }
    h2 {
      margin-bottom: 21px;
      font-weight: normal;
      padding: 0;
      font-size: 1.125rem;
    }
    .field--name-node-link a {
      transition: all 0.25s ease-in-out;
      background: url(../images/flecha.png) no-repeat scroll 89% 53% transparent;
      padding: 0.5em 3em 0.5em 1em !important;
      text-decoration: none;
      padding-left: 0em;
      border-bottom: 0px!important;
      font-weight: bold;
      font-size: 0.785rem;
      &:hover {
        text-decoration: none;
        background-color: $text-color-blue;
        color: white;
      }
    }
  }
}

/* Related publications and Twing publicattions */
.node--type-publication{
  .field--name-field-related-publications{
    .field__item{
      margin-top: 1rem;
    }
    > div:nth-child(1){
      margin-top: 0;
    }
  }
  .rr-wrapper-related-resources{
    display: flex;
    clear: both;
    background: $bg-color-white;
    margin-bottom: 0;
  }
  .rr-right-column{
    width: 100%;
    padding: 1rem;
    .rr-wrapper-fields{
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .field__item {
      margin-top: 0;
    }
    .field-name-node-title{
      h2{
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }
    .field__label, .field__item, .field-name-field-pages-count{
      float: left;
      color: $text-color-blue;
      font-size: 0.9rem;
      margin-bottom: 0;
    }
    .field-name-field-pages-count{
      .field-label-inline{
        float: left;
        padding-right: 3px;
      }
      text-transform: capitalize;
    }
    .field--name-node-link{
      @extend .see-more-arrow;
      padding-top: 1rem;
    }
  }
}

/* Related publications - Files */
.field-item.file-field{
  clear: both;
  margin-top: 1rem;
}

/* Related publications - Slideshare/Presentations */
.field-item.slideshare-field{
  float: left;
  margin-right: 2em;
}
.content-related{
  .rr-item-wrapper{
    position: relative;
    width: 300px;
    float: left;
    margin-top: 0;
    margin-bottom: 0;
  }
  .rr-item-content{
    width: 300px;
    height: 200px;
    .field--type-image{
      width: 300px;
      height: 200px;
      margin: 0;
    }
    img{
      width: 300px;
      height: 200px;
      margin: 0;
    }
  }
  h2.rr-item-title{
    font-weight: normal;
    font-size: 1.1rem;
    padding: 0 0 0.5rem 0;
    margin: 0;
  }
}

/* Related publications - Videos/Youtube */
.field-item.youtube-field{
  float: left;
  margin-right: 2em;
}

/* Rsponsive */
@media only screen and (max-width : 1200px) {
  /* Publications Slide 3 items */
  .view-publications {
    .views-col {
      min-height: 185px;
      padding: 10px;
      border-bottom: 15px solid $bg-color-blue-light;
    }

    .views-field-field-image-media {
      display: none;
    }
  }
  /* Publications view*/
  .tools-and-publications-publications{
    .revamp-row{
      .publications-left-column{
        display: none;
      }
      .publications-right-column{
        padding-left: 0;
        .content-publication-info {
          display: flex;
          span:nth-child(1){
            width: 20%;
            display: flex;
          }
          span:nth-child(2){
            width: 65%;
            font-weight: normal;
          }
          span:nth-child(3){
            width: 15%;
            text-align: right;
            padding-right: 15px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 990px) {
  .node--type-publication{
    .publications-left-column{
      display: none;
    }
    .publications-detail-right-column{
      padding-left: 0;
    }
  }
}

@media only screen and (max-width : 768px) {
  .tools-and-publications-publications {
    .view-filters {
      fieldset:nth-child(3) {
        width: 100%;
      }
    }
  }
  .node--type-publication{
    .content-publication-info{
      display: block;
      .content-label{
        padding-bottom: 0.5rem;
      }
    }
  }

}

@media only screen and (max-width : 580px) {
  /* Publications view*/
  .tools-and-publications-publications{
    .revamp-row{
      .publications-right-column{
        .content-publication-info {
          display: block;
          span:nth-child(1){
            width: 100%;
          }
          span:nth-child(2){
            width: 78%;
            display: inline-block;
          }
          span:nth-child(3){
            width: 100%;
          }
        }
      }
    }
  }
}


