/* Node publications */
.node-publications-custom{
  h1{
    padding-bottom: 1rem;
  }
  h2{
    display: none;
  }
  p{
    color: $text-color-blue;
  }
}

/* Publications Slide 3 items */
.view-publications{
  .views-col{
    background: #FFF;
    padding: 10px 10px 0 0;
    border-right: 15px solid $bg-color-blue-light;
  }
  .views-field-field-image-media{
    .field-content{
      float: left;
      margin-right: 0.5rem;
    }
  }
  .views-field-title{
    a{
      display: block;
      font-size: 1rem;
      font-weight: 700;
      padding-top: 1rem;
      padding-bottom: 1rem;
      line-height: 19px;
    }
  }
  .views-field-field-publication-type{
    .views-label{
      float: left;
      color: $text-color-blue;
      font-weight: 700;
      font-size: 0.9rem;
    }
    .field-content{
      float: left;
      color: $text-color-blue;
      font-size: 0.9rem;
      padding-left: 5px;
    }
  }
}

/* Publications view */
.two-column{
  h1{
    display: none;
  }
}
