/* View node header - Node related with the View - Placed before the View */
.custom-view-node-header{
  padding-bottom: 2rem;
  img{
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
}

/* View View List */
.revamp-row{
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  background: url("../images/back-tit-blue.png") repeat-x 100% 100%;
  h2 {
    margin-top: 0em;
    margin-bottom: 0.5rem;
    font-weight: 400;
  }
  .field--name-field-summary-html{
    padding-top: 0;
  }
  .node{
    .field--name-field-image-media{
      float: left;
      margin-right: 1.5rem;
    }
  }
  div.see-more-arrow{
    width: 100%;
    text-align: right;
    padding-top: 0.5rem;
  }
}

.revamp-row.no-flex{
  display: block;
}

/* Responsive View List */
@media only screen and (max-width : 991px) {
  .revamp-row{
    .node{
      .field--name-field-image-media{
        display: none;
      }
    }
  }
}

/* Blog - View */
.view-blog{
  .views-field-field-image-caption{
    float: left;
    margin-right: 1rem;
  }
  .views-field-field-summary-html{
    min-height: 5rem;
  }
}

/*** View related icons ***/
.view-related-icons {
  .view-content.row {
    margin: 0;
  }
  .views-field-nothing {
    a {
      display: block;
      width: 100%;
      padding: 10px;
      margin: 0 0 20px;
      background: $bg-color-blue-block;
      font-family: $font-family-sans-condensed;
      font-size: 1.25rem;
      color: $text-color-black;
      img {
        margin-right: 0.5rem;
      }
    }
  }
}

.block-osha-wiki {
  padding: 10px;
  margin: 0 0 20px;
  background: $bg-color-blue-block;
}
