/* View Highlights(Home) and Press releases */

.view-highlight, .view-press-releases{
  float: left;
  .views-row{
    background: url('../images/separator_home.jpg') repeat-x scroll 0% 100% rgba(0,0,0,0);
    float: left;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    width: 100%;
    .views-field-field-image-media{
      float: left;
      margin-right: 1rem;
      width: 220px;
      height: 220px;
    }
    .views-field-body{
      font-size: 0.9rem;
      line-height: 20px;
    }
    h3{
      a{
        color: $text-color-blue;
        font-family: 'Open Sans',sans-serif;
        font-size: 1.3rem;
        line-height: 1.1em;
        text-decoration: none;
        padding: 0;
        border-bottom: 0px;
        font-weight: bold;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .see-more-arrow{
      margin-top: 2.5rem;
      float: right;
    }
  }
  .views-row:nth-child(even)  {
    .views-field-field-image-media{
      float: right;
      padding-right: 0;
      margin-left: 1em;
      margin-right: 0;
    }
    .see-more-arrow {
      float: left;
    }
  }

  .views-row:nth-child(3){
    background: transparent;
    padding-bottom: 0.5rem;
  }
}

/* Press releases */
.view-press-releases{
  padding-left: 15px;
  padding-right: 15px;
  .view-header{
    font-size: 1.35rem;
    color: $text-color-blue;
    font-weight: 600;
    margin-left: -15px;
  }
  .views-row{
    .see-more-arrow{
      margin-top: 0.8rem;
    }
  }
  .views-row:nth-child(3){
    background: url('../images/separator_home.jpg') repeat-x scroll 0% 100% rgba(0,0,0,0);
    padding-bottom: 1.5rem;
  }
}

/* View seminars filtered*/
.view-search-seminars{
  .view-content{
    clear: both;
  }
}

/* View node header - Node related with the View - Placed before the View */
.custom-view-node-header{
  padding-bottom: 2rem;
  img{
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
}

/* View View List */
.revamp-row{
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  background: url("../images/back-tit-blue.png") repeat-x 100% 100%;
  h2 {
    margin-top: 0em;
    margin-bottom: 0.5rem;
    font-weight: 400;
  }
  .field--name-field-summary-html{
    padding-top: 0;
  }
  .node{
    .field--name-field-image-media{
      float: left;
      margin-right: 1.5rem;
    }
  }
  div.see-more-arrow{
    width: 100%;
    text-align: right;
    padding-top: 0.5rem;
  }
  .field--label-inline {
    display: flex;
    margin: 0 0 5px;
    font-size: 0.9rem;
    .field__label {
      margin: 0 5px 0 0;
      font-weight: bold;
      color: $text-color-blue;
      font-family: "Open Sans Condensed";
    }
    .field__item {
      font-family: "Open Sans Condensed";
    }
  }
  .field--name-field-external-url {
    margin-bottom: 5px;
    a {
      text-decoration: none;
      color: $bg-color-blue;
      border-bottom: 1px solid $bg-color-pink;
    }
  }
  .field--name-field-type-of-item {
    display: flex;
    align-items: center;
    .field__item {
      display: inline-block;
      background-color: #4e6aa0;
      border-radius: 5px;
      padding: 5px 10px;
      margin-right: 5px;
      color: white;
      font-size: 0.85rem;
      margin-bottom: 5px;
      margin-top: 5px;
    }
  }
  .av-type {
    display: flex;
    align-items: center;
    span {
      display: inline-block;
      background-color: #4e6aa0;
      border-radius: 5px;
      padding: 5px 10px;
      margin-right: 5px;
      color: white;
      font-size: 0.85rem;
      margin-bottom: 5px;
      margin-top: 5px;
    }
  }
}

.revamp-row.no-flex{
  display: block;
}

/* Blog - View */
.view-blog, .view-search-blog{
  .views-field-field-image-caption{
    float: left;
    margin-right: 1rem;
  }
  .views-field-field-summary-html{
    strong{
      font-weight: normal;
    }
  }
  .revamp-row.no-flex {
    min-height: 12rem;
  }
}

.block-views-exposed-filter-blocksearch-blog-page-1{
  h2{
    padding-bottom: 1rem;
  }
}

/* Procurement - Archieved calls */
.view-display-id-block_archived_calls{
  .calls__wrapper{
    width: 100%;
  }
  .calls__list{
    list-style: none;
    width: 100%;
    margin-top: 1rem;
    padding-left: 17px;
    .call__item{
      width: 100%;
      margin-bottom: 0.2rem;
      padding-top: 0;
      padding-bottom: 1.5rem;
      background: url(../images/separator.jpg) repeat-x 100% 100%;
      a{
        border-bottom: 1px solid $bg-color-pink;
        &:hover{
          text-decoration: none;
          border-bottom: 1px solid $bg-color-blue;
        }
      }
    }
  }
}

/* Tags filters Years - Used similiar CSS in Infographics scss */
.view-calls.view-display-id-page_1{
  .view-header{
    color: $text-color-blue;
  }
  .view-content{
    clear: both;
  }
  .calls__list{
    list-style: none;
    width: 100%;
    margin-top: 1rem;
    padding-left: 0;
    .call__item{
      float: left;
      margin-right: 0;
      padding-right: 2px;
      a{
        padding-right: 5px;
        &.active-custom{
          font-weight: bold;
        }
      }
      &:after{
        content: '|';
        display: inline-block;
      }
    }
  }
}

/* General Search */
.block-views-exposed-filter-blocksearch-site.views-exposed-form{
  padding-bottom: 0;
}

.view-search{
  .views-field-url{
    a{
      display: block;
      color: $text-color-pink;
      margin-bottom: 0.3rem;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

.views-field-type{
  /* View tags */
  background-color: $bg-color-view-tags;
  color: $text-color-white;
  font-size: 0.9rem;
  padding: 2px 0.8rem;
  margin-right: 1rem;
  margin-bottom: 0.3rem;
  display: inline-block;
  border-radius: 5px;
}

.field--name-node-changed-date{
  margin-bottom: 0.5rem;
  .field__label:after{
    content: ':';
    display: inline-block;
  }
}

.view-related-content.view-display-id-page_3{
  .see-more-arrow{
    text-align: right;
  }
}

.page-view-practical-tools-and-guidance-on-dangerous-substances{
  #share-this-on{
    display: none;
  }
}

.view-practical-tools-and-guidance-on-dangerous-substances, .view-musculoskeletal-disorders-list{
  .view-filters{
    .form-item-sort-by{
      order: 3
    }
    .form-item-sort-order{
      order: 4
    }
    .btn-primary {
      margin-left: 0;
      margin-right: 10px;
    }
  }
}

.block-views-blockbureau-members-block-1{
  .view-bureau-members{
    .view-content{
      flex-direction: column;
      margin:0;
      h3{
        font-size: 1rem;
        line-height:1.375rem;
        margin-top:1.375rem;
        margin-bottom: 1.375rem;
        font-weight: bold;
      }
      .views-row{
        font-size:0.9rem;
        line-height:1.5rem;
      }
    }
  }
}


/* Responsive View List */
@media only screen and (max-width : 768px) {
  .revamp-row{
    .field--name-field-image-media, .views-field-field-image-caption{
      display: none;
    }
  }

}
@media only screen and (max-width :576px) {
  .view-highlight, .view-press-releases {
    .views-row {
      .views-field-field-image-media {
        float: none;
        margin: 0 auto 1rem;
      }
    }
    .views-row:nth-child(even)  {
      .views-field-field-image-media{
        float: none;
        margin: 0 auto 1rem;
      }
    }
  }
}/* End Media 576px */
