/* Common elements */
html{
  font-size: 100%;
}
body{
  position: relative;
  font-family: 'Open Sans', sans-serif;
  background: $bg-color-white;
  font-size: 16px;
  overflow-x: hidden;
}

body{
  .field--name-body{
    font-size: 0.9rem;
  }
}

.node__content{
  font-size: initial;
  margin-top: 0;
}

.sidebar .block{
  border: 0;
}

.datetime, .views-field-field-date{
  font-size: 0.8rem;
  color: $text-color-blue;
  font-weight: bold;
}

ul.menu{
  .menu-item{
    float: left;
    margin-right: 7px;
    .field--type-entity-reference{
      margin: 0;
    }
    .field--type-image{
      img{
        margin: 0;
      }
    }
  }
}

/* Summary */
.field--name-field-summary-html{
  font-size: 0.9rem;
  color: $text-color-blue;
  padding-top: 1rem;
  padding-bottom: 0;
}

.node{
  .field--name-field-summary-html{
    padding-top: 0;
  }
}


/* Paragraps - List */
body{
  .field--name-body, .field--name-field-summary-html{
    p, ul {
      font-size: 0.9rem;

      a {
        text-decoration: none;
        border-bottom: 1px solid $bg-color-pink;
        &:hover {
          text-decoration: none;
          transition: border-bottom 1s;
          border-bottom: 1px solid $bg-color-blue;
        }
      }
    }
  }
}

/* Links - arrows */
body{
  .see-more-arrow, .link_news_events{
    a{
      width: auto;
      color: $text-color-blue;
      display: inline-block;
      padding: 10px 40px 10px 10px;
      background: url(../images/arrow.png) no-repeat calc(100% - 10px) 15px;
      font-size: 0.9rem;
      font-weight: bold;
      text-decoration: none;
      border-bottom: 0;
      &:hover {
        background: url(../images/arrow.png) no-repeat $bg-color-blue calc(100% - 10px) 15px;
        color: $text-color-white;
        -webkit-transition: background-color 800ms linear;
        -moz-transition: background-color 800ms linear;
        -o-transition: background-color 800ms linear;
        -ms-transition: background-color 800ms linear;
        transition: background-color 800ms linear;
      }
    }
  }
}

body {
  .news_and_events.block-menu-block{
    ul {
      li {
        position: relative;
        .link_news_events {
          a {
            border-bottom: 0;
          }
        }
      }
    }
  }
}

.see-more-arrow.minor-size{
  a {
    font-size: 0.75rem;
    background: url(../images/arrow.png) no-repeat calc(100% - 5px) 9px;
    padding: 5px 30px 5px 5px;
    &:hover {
      background: url(../images/arrow.png) no-repeat $bg-color-blue calc(100% - 5px) 9px;
    }
  }
}

span.label, span.pages{
  font-family: 'Open Sans',sans-serif;
  color: $text-color-blue;
  font-weight: bold;
  font-size: 0.8rem;
}

span.pages{
  font-weight: normal;
}

.view-header{
  .back-to-link {
    float: right;
    font-weight: 600;
    background: url(../images/arrow-back.png) no-repeat 1px 11px;
    padding-left: 25px;
    font-size: 0.9rem;
    padding-top: 5px;
  }
}

.h1-back-wrapper{
  display: flex;
}

.pull-right-flex{
  margin-left: auto;
}

.back-to-link {
  float: right;
  font-weight: 600;
  background: url(../images/arrow-back.png) no-repeat 1px 15px;
  padding-left: 25px;
  font-size: 0.9rem;
  padding-top: 10px;
}

.more-link {
  a{
    float: right;
    font-weight: 600;
    background: url(../images/arrow.png) no-repeat 100% 14px;
    padding-right: 25px;
    font-size: 0.9rem;
    padding-top: 10px;
  }
}

/* Links download */
#main{
  .node--view-mode-full{
    a[target=_blank].link-download{
      display: inline-block;
      font-size: 0.9rem;
      font-weight: 700;
      background: transparent;
      border-bottom: 1px solid $bg-color-white;
      padding-left: 0;
      padding-right: 0;
      &:hover{
        background: transparent;
      }
      &:before{
        content: ' ';
        display: inline-block;
        background: url(../images/download-thesaurus.png) no-repeat 1px 3px;
        width: 22px;
        height: 20px;
        padding-right: 1px;
        vertical-align: text-bottom;
      }
    }
  }
}


/* Links introduction title Highlight, News and Events */
body {
  ul {
    li {
      .introduction-title {
        a {
          font-family: 'Open Sans Condensed', sans-serif;
          width: 100%;
          display: block;
          font-size: 1.2rem;
          text-decoration: none;
          font-weight: 700;
          letter-spacing: -0.5px;
          border-bottom: 10px solid $bg-color-blue-light;
          margin-bottom: 5px;
          padding-right: 25px;
          padding-bottom: 0;
          background-position: calc(100% - 5px) 9px;
          &:hover {
            border-bottom: 10px solid $bg-color-blue-light;
            transition: none;
          }
        }
      }
    }
  }
}

/*Copyrights*/
.field--name-field-caption-copyrigth-{
  font-size: 0.65rem;
  p{
    margin: 0;
  }
}

/* Content Fluid */
.content-fluid {
  clear: both;
  @extend .full-width;
  background: $bg-color-blue-light;
  padding: 0;
  width: 100vw;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.push-right{
  margin-left: auto;
  margin-right: 50px;
}

/* File icons */
.ico-img {
  display: inline-block;
  background: url(../images/file-icons/image-x-generic.png) no-repeat 1px 4px;
  width: 20px;
  height: 24px;
  margin-left: 5px;
  margin-right: 5px;
}
.ico-pdf{
  display: inline-block;
  background: url(../images/file-icons/application-pdf.png) no-repeat 1px 4px;
  width: 20px;
  height: 24px;
  margin-left: 5px;
  margin-right: 5px;
}

/* Share this on articles icons */
#share-this-on{
  float: left;
  padding-top: 1rem;

  .text-share {
    float: left;
    font-size: 0.9rem;
    margin-top: -3px;
    padding-right: 10px;

  }
  .a2a_svg{
    svg {
      display: none;
    }
  }
  .a2a_s__default{
    background-color: transparent !important;
  }
  .a2a_button_facebook{
    float: left;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: 4px;
    margin-right: 10px;
    background: url(../images/share_facebook.png) no-repeat;
  }
  .a2a_button_twitter{
    float: left;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: 4px;
    margin-right: 10px;
    background: url(../images/share_twitter.png) no-repeat;
  }
  .a2a_button_linkedin_share{
    float: left;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: 4px;
    margin-right: 10px;
    background: url(../images/share_in.png) no-repeat;
    span{
      width: 20px;
    }
    button{
      visibility: hidden !important;
    }
  }
  .print-icon{
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: url(../images/share_print.png) no-repeat 0 4px;
  }
  a:hover{
    opacity: 0.8;
  }
}

.target-blank-v2 {
  background: url(../images/external_link-v2.png) no-repeat scroll right 4px rgba(0, 0, 0, 0);
  padding-right: 16px;
  float: none;
  display: inline-block;
  font-size: 0.9rem;
  &:hover{
    background: url(../images/external_link-v2-hover.png) no-repeat scroll right 4px rgba(0, 0, 0, 0);
  }
}

#main{
  .node--view-mode-full, .view{
    a[target=_blank] {
      background: url(../images/external_link-v2.png) no-repeat scroll right 50% rgba(0, 0, 0, 0);
      padding-right: 16px;
      float: none;
      border-bottom: 1px solid $bg-color-pink;
      &:hover{
        background: url(../images/external_link-v2-hover.png) no-repeat scroll right 50% rgba(0, 0, 0, 0);
        border-bottom: 1px solid $bg-color-blue;
        text-decoration: none;
      }
    }
  }
}

/* END Common elements */

/* Twetter Block */
.block-twitter-block{
  height: 757px;
  overflow-y: scroll;
  border-bottom: 1px solid #e1e8ed;
  padding-bottom: 9px;
  padding-left: 0em;
  clear: both;
  border: 0;
}

.block-twitter-block::-webkit-scrollbar-track{
  background-color: $bg-color-blue-light;
}

.block-twitter-block::-webkit-scrollbar{
  width: 5px;
  background-color: $bg-color-blue-light;
}

.block-twitter-block::-webkit-scrollbar-thumb{
  background-color: $bg-color-blue;
}

/* Infographics */
.node--type-infographic{
  margin-bottom: 1rem;
}
.download-img, .download-pdf{
  background: $bg-color-grey-light;
  padding: 1rem;
  margin-top: 0.3rem;
  a{
    font-weight: bold;
    font-size: 0.8rem;
  }
}
.label_multilang_file{
  color: #7c7d81;
  font-size: 0.8rem;
  font-weight: bold;
}

.facets-widget-checkbox{
  ul{
    list-style: none;
    padding: 0;
  }
}

/* Blog Detail */
.node--type-blog{
   .field--name-field-image-caption{
    float: left;
    margin-right: 1rem;
    clear: both;
  }
  .field--name-field-summary-html{
    color: $text-color-blue;
    display: table;
  }
}

/* News - Highlights - Blogs */
.node--type-news, .node--type-highlight{
  .field--name-field-image-media{
    float: left;
    margin-right: 1rem;
    clear: both;
  }
  .field--name-field-summary-html{
    color: $text-color-black;
  }
}

/* Page - Highlight, News and Events content link */
html[lang=de]{
  .news-events{
    #main{
      ul {
        li {
          .introduction-title {
            height: 100px;
            a{
              font-size: 1.1rem;
            }
          }
          .text_news_events {
            min-height: 140px;
          }
        }
      }
    }
  }
}
html[lang=da], html[lang=el], html[lang=hu], html[lang=fr], html[lang=hr]{
  .news-events{
    #main{
      ul {
        li {
          .introduction-title {
            height: 100px;
          }
          .text_news_events {
            min-height: 140px;
          }
        }
      }
    }
  }
}
.news-events{
  #main{
    ul {
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      list-style: none;
      padding: 1rem 0 0 0;
      li {
        width: 240px;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        margin-right: 1rem;
        .introduction-title {
          display: flex;
          height: auto;
          align-items: flex-end;
        }
        .text_news_events {
          padding-top: 5px;
          min-height: 110px;
        }
        .link_news_events{
          text-align: right;
        }
      }
    }
  }
}

/* Articles */
.node--type-article{
  #main{
    .field--name-field-image-caption{
      img{
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
      }
    }
  }
  .content-headings-related{
    padding-top: 2rem;
    h2{
      margin-bottom: 2rem;
    }
    h3{
      margin-bottom: 1.5rem;
    }
  }
  .field--name-field-aditional-resources{
    clear: both;
  }
  .field--name-body{
    font-size: 0.9rem;
    p{
      margin: 0.2rem 0 0.5rem;
    }
  }
  iframe{
    width: 100%;
    margin-top: 0.5rem;
  }
}

/* Basic pages */
.page-node-5468{
  h2{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

/* FOPS View*/
.node--type-article {
  #main {
    .view-fop-flags{
      padding-top: 2rem;
      padding-bottom: 2rem;
      h3{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-weight: bold;
      }
      ul{
        padding-left: 2rem;
        li{
          float: left;
          width: 6rem;
          height: 9rem;
          img{
            width: 50px;
            height: 50px;
            border: 1px solid #CCC;
          }
          .views-field-title{
            a{
              font-size: 0.9rem;
            }
          }
        }
      }
    }
    .field--name-field-related-oshwiki-articles {
      margin-top: 0.8rem;
      margin-bottom: 10px;
      background: $bg-color-blue-light-2;
      > .field__label {
        margin-bottom: 0.5rem;
        padding: 12px 2.6rem;
        background: $bg-color-blue url(../images/related_wiki_head_big.jpg) left center no-repeat;
        color: white;
        font-family: $font-family-sans-condensed;
        font-size: 1.75rem;
      }
      .field__items {
        > .field__item {
          border-bottom: 8px solid $bg-color-white;
          .field--name-node-title {
            background-color: $bg-color-blue-wiki;
            color: $text-color-white;
            padding-left: 2.6rem;
            margin-left: 0;
            h3 {
              padding: 0.5rem 0;
            }
            h3 {
              color: $text-color-white;
              font-size: 1.3125rem;
              font-family: $font-family-sans-condensed;
              font-weight: 400;
            }
          }
          .field--name-field-summary-html {
            margin: 1.8rem 0;
            padding: 0 2.6rem;
            color: $text-color-black;
          }
          .field--name-field-wiki-page-url {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 1.8rem;
            padding-bottom: 1rem;
            font-weight: bold;
            font-family: $font-family-sans-condensed;
            font-size: 1.125rem;
            a {
              display: flex;
              justify-content: flex-end;
              align-items: center;
              font-size: 1rem;
              background: transparent;
              &:before {
                content: "";
                display: inline-block;
                width: 16px;
                height: 16px;
                order: 2;
                margin: 0 2px 0 5px;
                background: url(../images/external_link-v2.png) center right no-repeat;
              }
              &:after {
                order: 3;
                content: "";
                display: inline-block;
                margin-left: 15px;
                background: url(../images/flecha.png) center center no-repeat;
                width: 19px;
                height: 11px;
              }
              &:hover {
                text-decoration: none;
                &:before {
                  background: url(../images/external_link-v2-hover.png) center right no-repeat;
                }
              }
            }
          }
          &:after {
            padding-top: 0.5rem;
            display: block;
            content:"";
            height: 1px;
            width: 100%;
            border-bottom: 1px dashed $bg-color-blue-light;
            background: $bg-color-white;
          }
          &:last-child:after {
            display: none;
          }
        }
      }
    }
  }
}

.about-eu-osha-national-focal-points-focal-points-index{
  .node__content{
    img{
      padding-left: 10px;
    }
  }
}

/* FOPs detail */
.block-views-blockfop-contacts-block-1{
  h2{
    padding-bottom: 0.5rem;
  }
}
.view-fop-contacts {
  .view-content.row{
    margin-left: 0;
    margin-right: 0;
    font-size: 0.9rem;
    line-height: 24px;
  }
  ul {
    li {
      .views-field {
        clear: both;
      }
      .views-label {
        float: left;
        padding-right: 5px;
      }
      .views-field-field-zip-code{
        float: left;
        padding-right: 5px;
      }
      .views-field-field-city{
        clear: none;
      }
      .views-label-title{
        width: 100%;
      }
      .views-field-field-press-contact-email{
        float: left;
        padding-right: 5px;
        .field-content{
          float: left;
        }
      }
    }
  }
}

/* Sitemap */
.sitemap-item{
  h2{
    display: none;
  }
  ul.menu-level-0{
    padding-left: 20px;
  }
  ul{
    li{
      width: 100%;
      a{
        font-size: 0.9rem;
        border-bottom: 1px solid $bg-color-pink;
        &:hover{
          text-decoration: none;
          border-bottom: 1px solid $bg-color-blue;
          transition: border-bottom 1s;
        }
      }
      img{
        display: none;
      }
    }
  }
}

/* e-Guides links /tools-and-resources/e-guides/e-guide-managing-stress-and-psychosocial-risks */
.e-guide-links{
  img{
    float: left;
    margin-right: 1rem;
  }
  p{
    padding-top: 2rem;
  }
  ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    li{
      padding: 0 0.2rem;
    }
  }
}

