/* Common elements */
html{
  font-size: 100%;
}
body{
  position: relative;
  font-family: 'Open Sans', sans-serif;
  background: $bg-color-white;
  font-size: 16px;
}

body{
  .field--name-body{
    font-size: 0.9rem;
  }
}

.node__content{
  font-size: initial;
  margin-top: 0;
}

.sidebar .block{
  border: 0;
}

.datetime, .views-field-field-date{
  font-size: 0.8rem;
  color: $text-color-blue;
  font-weight: bold;
}

ul.menu{
  .menu-item{
    float: left;
    margin-right: 7px;
    .field--type-entity-reference{
      margin: 0;
    }
    .field--type-image{
      img{
        margin: 0;
      }
    }
  }
}

/* Summary */
.field--name-field-summary-html{
  font-size: 0.9rem;
  color: $text-color-blue;
  padding-top: 1rem;
  padding-bottom: 0;
}

.node{
  .field--name-field-summary-html{
    padding-top: 0;
  }
}


/* Paragraps - List */
body{
  .field--name-body, .field--name-field-summary-html{
    p, ul {
      font-size: 0.9rem;

      a {
        text-decoration: none;
        border-bottom: 1px solid $bg-color-pink;

        &:hover {
          text-decoration: none;
          transition: border-bottom 1s;
          border-bottom: 1px solid $bg-color-blue;
        }
      }
    }
  }
}

/* Links - arrows */
body{
  .see-more-arrow, .link_news_events{
    a{
      width: auto;
      color: $text-color-blue;
      display: inline-block;
      padding: 10px 40px 10px 10px;
      background: url(../images/arrow.png) no-repeat calc(100% - 10px) 15px;
      font-size: 0.9rem;
      font-weight: bold;
      text-decoration: none;
      border-bottom: 0;
      &:hover {
        background: url(../images/arrow.png) no-repeat $bg-color-blue calc(100% - 10px) 15px;
        color: $text-color-white;
        -webkit-transition: background-color 800ms linear;
        -moz-transition: background-color 800ms linear;
        -o-transition: background-color 800ms linear;
        -ms-transition: background-color 800ms linear;
        transition: background-color 800ms linear;
      }
    }
  }
}

body {
  ul {
    li {
      .link_news_events {
        float: right;
        a {
          border-bottom: 0;
        }
      }
    }
  }
}

.see-more-arrow.minor-size{
  a {
    font-size: 0.75rem;
    background: url(../images/arrow.png) no-repeat calc(100% - 5px) 9px;
    padding: 5px 30px 5px 5px;
    &:hover {
      background: url(../images/arrow.png) no-repeat $bg-color-blue calc(100% - 5px) 9px;
    }
  }
}

span.label, span.pages{
  font-family: 'Open Sans',sans-serif;
  color: $text-color-blue;
  font-weight: bold;
  font-size: 0.8rem;
}

span.pages{
  font-weight: normal;
}

/* Links introduction title Highlight, News and Events */
body {
  ul {
    li {
      .introduction-title {
        a {
          font-family: 'Open Sans Condensed', sans-serif;
          width: 100%;
          display: block;
          font-size: 1.2rem;
          text-decoration: none;
          font-weight: 700;
          letter-spacing: -0.5px;
          border-bottom: 10px solid $bg-color-blue-light;
          margin-bottom: 5px;
          padding-right: 25px;
          padding-bottom: 0;
          background-position: calc(100% - 5px) 9px;
          &:hover {
            border-bottom: 10px solid $bg-color-blue-light;
            transition: none;
          }
        }
      }
    }
  }
}

/*Copyrights*/
.field--name-field-caption-copyrigth-{
  font-size: 0.65rem;
  p{
    margin: 0;
  }
}

/* Content Fluid */
.content-fluid {
  clear: both;
  @extend .full-width;
  background: $bg-color-blue-light;
  padding: 0;
  width: 100vw;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.push-right{
  margin-left: auto;
  margin-right: 30px;
}


/* Sidebar second */
.sidebar-second{
  .block-views{
    background: url(../images/separator.jpg) repeat-x 100% 100%;
    padding: 0 10px 30px 10px;
  }
  .views-row{
    padding-left: 15px;
    padding-right: 15px;
    a {
      display: block;
      font-size: 0.8rem;
      line-height: 17px;
      padding-bottom: 10px;
      background: url(../images/li_arrow.png) no-repeat 1px 2px;
      padding-left: 15px;
    }
  }
  .more-link{
    text-align: right;
    a{
      display: inline-block;
      background: url(../images/arrow.png) no-repeat calc(100% - 5px) 9px;
      padding: 5px 30px 5px 5px;
      font-size: 0.75rem;
      font-weight: bold;
      text-decoration: none;
      &:hover{
        color: $text-color-white;
        background: url(../images/arrow.png) no-repeat $bg-color-blue calc(100% - 5px) 9px;
        -webkit-transition: background-color 800ms linear;
        -moz-transition: background-color 800ms linear;
        -o-transition: background-color 800ms linear;
        -ms-transition: background-color 800ms linear;
        transition: background-color 800ms linear;
      }
      &:before{
        content: none;
      }
    }
  }
}
/* Share this on articles icons */
#share-this-on{
  float: left;
  padding-top: 1rem;

  .text-share {
    float: left;
    font-size: 0.9rem;
    margin-top: -3px;
    padding-right: 10px;

  }
  .a2a_svg{
    svg {
      display: none;
    }
  }
  .a2a_s__default{
    background-color: transparent !important;
  }
  .a2a_button_facebook{
    float: left;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: 4px;
    margin-right: 10px;
    background: url(../images/share_facebook.png) no-repeat;
  }
  .a2a_button_twitter{
    float: left;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: 4px;
    margin-right: 10px;
    background: url(../images/share_twitter.png) no-repeat;
  }
  .a2a_button_linkedin_share{
    float: left;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: 4px;
    margin-right: 10px;
    background: url(../images/share_in.png) no-repeat;
    span{
      width: 20px;
    }
    button{
      visibility: hidden !important;
    }
  }
  .print-icon{
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: url(../images/share_print.png) no-repeat 0 4px;
  }
  a:hover{
    opacity: 0.8;
  }
}

.target-blank-v2 {
  background: url(../images/external_link-v2.png) no-repeat scroll right 4px rgba(0, 0, 0, 0);
  padding-right: 16px;
  float: none;
  display: inline-block;
  font-size: 0.9rem;
}


/* END Common elements */

/* Twetter Block */
.block-twitter-block{
  height: 757px;
  overflow-y: scroll;
  border-bottom: 1px solid #e1e8ed;
  padding-bottom: 9px;
  padding-left: 0em;
  clear: both;
  border: 0;
}

.block-twitter-block::-webkit-scrollbar-track{
  background-color: $bg-color-blue-light;
}

.block-twitter-block::-webkit-scrollbar{
  width: 5px;
  background-color: $bg-color-blue-light;
}

.block-twitter-block::-webkit-scrollbar-thumb{
  background-color: $bg-color-blue;
}

/* Infographics */
.download-img, .download-pdf{
  background: $bg-color-grey-light;
  padding: 1rem;
  margin-top: 0.3rem;
  a{
    font-weight: bold;
    font-size: 0.8rem;
  }
}
.label_multilang_file{
  color: #7c7d81;
  font-size: 0.8rem;
  font-weight: bold;
}

/* Articles */
.node--type-article{
  #main{
    img{
      width: 100%;
      height: auto;
    }
  }
}

.facets-widget-checkbox{
  ul{
    list-style: none;
    padding: 0;
  }
}

/* Blog Detail */
.node--type-blog{
   .field--name-field-image-caption{
    float: left;
    margin-right: 1rem;
    clear: both;
  }
  .field--name-field-summary-html{
    color: $text-color-blue;
    display: table;
  }
}

/* News - Highlights - Blogs */
.node--type-news, .node--type-highlight{
  .field--name-field-image-media{
    float: left;
    margin-right: 1rem;
    clear: both;
  }
  .field--name-field-summary-html{
    color: $text-color-black;
  }
}

/* Page - Highlight, News and Events content link */
.news-events{
  #main{
    ul{
      list-style: none;
      padding: 1rem 0 0 0;
      li{
        float: left;
        width: 30%;
        margin-right: 1rem;
        .text_news_events{
          min-height: 65px;
        }
      }
    }
  }
}

/* Articles */
.node--type-article{
  .content-headings-related{
    padding-top: 2rem;
    h2{
      margin-bottom: 2rem;
    }
    h3{
      margin-bottom: 1.5rem;
    }
  }
  .field--name-field-aditional-resources{
    clear: both;
  }
  .field--name-body{
    font-size: 0.9rem;
    p{
      margin: 0.2rem 0 0.5rem;
    }
  }
  iframe{
    width: 100%;
  }
}

/* Basic pages */
.page-node-5468{
  h2{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

/* FOPS View*/
.node--type-article {
  #main {
    .view-fop-flags{
      padding-top: 2rem;
      h3{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-weight: bold;
      }
      ul{
        padding-left: 2rem;
        li{
          float: left;
          width: 6rem;
          height: 9rem;
          img{
            width: 50px;
            height: 50px;
            border: 1px solid #CCC;
          }
          .views-field-title{
            a{
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }
}


/* FOPs detail */
.block-views-blockfop-contacts-block-1{
  h2{
    padding-bottom: 0.5rem;
  }
}
.view-fop-contacts {
  .view-content.row{
    margin-left: 0;
    margin-right: 0;
    font-size: 0.9rem;
    line-height: 24px;
  }
  ul {
    li {
      .views-field {
        clear: both;
      }
      .views-label {
        float: left;
        padding-right: 5px;
      }
      .views-field-field-zip-code{
        float: left;
        padding-right: 5px;
      }
      .views-field-field-city{
        clear: none;
      }
      .views-label-title{
        width: 100%;
      }
      .views-field-field-press-contact-email{
        float: left;
        padding-right: 5px;
        .field-content{
          float: left;
        }
      }
    }
  }
}

/* Sitemap */
.sitemap-item{
  h2{
    display: none;
  }
  ul.menu-level-0{
    padding-left: 20px;
  }
  ul{
    li{
      width: 100%;
      a{
        font-size: 0.9rem;
        border-bottom: 1px solid $bg-color-pink;
        &:hover{
          text-decoration: none;
          border-bottom: 1px solid $bg-color-blue;
          transition: border-bottom 1s;
        }
      }
      img{
        display: none;
      }
    }
  }
}
