/* Breadcrumbs */
.breadcrumb-fluid{
  border-bottom: 2px solid #cfddee;
  padding-bottom: 5px;
  margin-bottom: 2em;
  background-color: $bg-color-white;
  .breadcrumb{
    visibility: hidden;
    font-size: 0.8rem;
    font-weight: lighter;
    border: 0px;
    clear: both;
    padding: 2em 0 5px 0;
    margin: 0 auto;
    background: $bg-color-white;
    a{
      font-weight: bold;
      text-decoration: none;
      border-bottom: 1px solid $bg-color-pink;
      &:hover{
        transition: border-bottom 1s;
        border-bottom: 1px solid $bg-color-blue;
      }
    }
  }
  .breadcrumb.custom-visible{
    visibility: visible;
  }
  .breadcrumb-item.active{
    color: $text-color-blue;
    &::after{
      display: inline-block;
      width: 20px;
      margin-left: 3px;
      padding-right: 0;
      content: "";
      background: url(../images/delimiter-on.png) no-repeat 0px 5px;
    }
  }
}

.breadcrumb-item+.breadcrumb-item::before{
  display: inline-block;
  width: 20px;
  padding-right: 0;
  content: "";
  background: url(../images/delimiter-off.png) no-repeat 0px 5px;
}

.page-view-photo-gallery{
  .breadcrumb-fluid{
    .breadcrumb {
      visibility: visible;
    }
  }
}
