.site-footer{
  .block{
    border: 0;
  }
}

.region-footer-first{
  padding-bottom: 2rem;
}

footer.site-footer{
  padding: 0;
  font-family: 'Open Sans';
  background: $bg-color-blue;
  .site-footer__bottom{
    border: 0;
    .region-footer-end{
      /* Main menu */
      nav#block-mainnavigation {
        padding-top: 0;
        padding-bottom: 1rem;
        ul.menu-level-0 {
          list-style: none;
          height: 100%;
          li.menu-item{
            float: left;
            width: 103px;
            margin-right: 20px;
            > a{
              display: block;
              color: $text-color-white;
              border-right: 0;
              font-size: 0.6rem;
              font-weight: bold;
              padding-left: 0;
              padding-top: 5px;
            }
            ul.menu-level-1{
              list-style: none;
              li{
                width: 100%;
                a{
                  display: none;
                }
                ul.menu-level-2{
                  list-style: none;
                  li{
                    float: none;
                    display: block;
                    clear: both;
                    a{
                      display: block;
                      color: $text-color-white;
                      font-size: 0.6rem;
                      font-weight: normal;
                    }
                  }
                }
              }
            }
          }
          li.menu-item:nth-child(1){
            /* Menu item Home */
            width: 70px;
            > a{
              display: block;
              color: $text-color-white;
              border-right: 0;
              font-size: 0.6rem;
              font-weight: bold;
            }

            .field--type-image{
              display: none;
            }
          }
        }
      }
    }
  }
}

/* Try alert button */
#block-tryalertservice{
  padding: 0;
}

.try-alert-wrapper{
  margin-top: 20px;
  margin-right: 9rem;
  #try-alert{
    font-size: 0.9rem;
    min-width: 220px;
    background-color: $bg-color-blue-button;
    color: $text-color-blue;
    font-weight: bold;
    border-bottom: 0;
    &:hover{
      opacity: 0.8;
    }
  }
}

/* Copyright Block */
#block-copyrigth{
  width: 100%;
  color: $text-color-white;
  border-top: 1px solid $bg-color-white;
  padding: 0.5rem 2rem 0.2rem 10px;
  margin: 0;
  p{
    color: $text-color-white;
    padding-bottom: 0;
    margin-bottom: 0;
    a{
      color: $text-color-white;
      border-bottom: 0;
    }
  }
}

/* Menu links and Social media */
nav#block-footermenu-2{
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0 0 2rem 10px;
  ul.menu-level-0{
    list-style: none;
    li.menu-item{
      span, a{
        /*First level*/
        display: none;
      }
      ul.menu-level-1{
        list-style: none;
        li{
          float: left;
          padding-right: 8px;
          margin-right: 0;
          a{
            display: inline-block;
            color: $text-color-white;
            font-size: 0.9rem;
            border-right: 0;
            padding-left: 0;
            padding-right: 5px;
          }
        }
        li:last-child{
          padding-right: 0;
        }
      }
    }
    li.menu-item.menu-item--expanded:nth-child(1){
      float: left;
    }
    li.menu-item.menu-item--expanded:nth-child(2){
      float: right;
      margin-top: -2px;
      margin-right: 0;
      > div > ul > li > a{
        /* Hide ico title link */
        display: none;
      }
      .field--type-entity-reference{
        margin: 0;
        img{
          margin: 0;
          &:hover{
            opacity: 0.8;
          }
        }
      }
    }
  }
}

/* Privacy policy for logged in users */
body.user-logged-in{
  #block-footermenu-2 > ul > li:nth-child(1) > div > ul > li:nth-child(5){
    display: none;
  }
  #block-footermenu-2 > ul > li:nth-child(1) > div > ul > li:nth-child(6){
    display: block;
  }
}

/* Privacy policy for NON logged in users */
body{
  #block-footermenu-2 > ul > li:nth-child(1) > div > ul > li:nth-child(5) {
    display: block;
  }
  #block-footermenu-2 > ul > li:nth-child(1) > div > ul > li:nth-child(6) {
    display: none;
  }
}

