.top-header-content {
  height: 135px;
  display: flex;
  align-content: center;
  margin-left: 0;
  margin-right: 0;
  .region-top-header-logos {
    float: left;
    margin-left: 1rem;
    .field--name-field-image {
      display: flex;
      margin: 0;
      align-items: center;
      .field__item {
        float: left;
        margin-right: 20px;
        img {
          margin: 0;
        }
      }
    }
  }
}

.font-size-print{
  float: left;
  span{
    a{
      color: $text-color-blue;
      font-weight: bold;
      cursor: pointer;
    }
  }
  .a_small{
    a{
      font-size: 1rem;
    }
  }
  .a_medium{
    a{
      font-size: 1.35rem;
    }
  }
  .a_big{
    a{
      font-size: 1.65rem;
    }
  }
  .print-friendly{
    display: inline-block;
    background: url("../images/share_print_blue.png") no-repeat;
    width: 24px;
    height: 20px;
  }
}

.content-first-row{
  display: flex;
  justify-content: flex-end;
}

/* Share links */
#block-socialmenu{
  .menu.menu-level-0{
    padding: 0;
    margin: 5px 0 0 5px;
  }
}

/* Links in header - Menu with News & Events and Press */
.header-links{
  float: left;
  section.row{
    margin-right: 0;
    nav{
      ul{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        li{
          padding: 0;
          margin: 0;
          a{
            font-size: 0.8rem;
            color: $text-color-blue;
            padding: 0;
            font-weight: bold;
          }
        }
      }
    }
  }
}

/* Block to the Header Language selector and Search */
.header-language-search{
  display: flex;
  flex-direction: column;
  .row{
    display: block;
  }
  .form-group{
    margin-bottom: 0;
  }
  .content.container-inline{
    clear: both;
  }
  /* Language Selector - Module - Language Switcher Dropdown */
  .block-lang-dropdown{
    float: right;
    margin-right: 20px;
  }
  /* Search input text box */
  #block-ncwtheme-search{
    float: right;
    clear: both;
  }
}

/* Hide menu link to view only the Share links images in header and footer */
#block-socialmenu, #block-socialmenu-2{
  > ul{
    list-style: none;
    > li{
      > a{
        display: none;
      }
    }
  }
}

