/*** Stiky header ***/
body{
  padding-top: 195px !important;
}

#header{
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: top 0.6s linear;
  top: 0px !important;
  background: white;
}

body.user-logged-in{
  padding-top: 230px !important;
  #header{
    padding-top: 40px;
  }
}

body.user-logged-in.toolbar-tray-open{
  padding-top: 270px !important;
  #header{
    padding-top: 75px;
  }
}

.scrolldown{
  #header{
    position: fixed;
    top: -23rem !important;
    transition: all 0.6s;
    z-index: 10;
    width: 100%;
  }
}

/* Header styles */
.top-header-content{
  height: 135px;
  display: flex;
  align-content: center;
  margin-left: 0;
  margin-right: 0;
  .region-top-header-logos{
    float: left;
    margin-left: 1rem;
    .field--name-field-image{
      display: flex;
      margin: 0;
      align-items: center;
      .field__item {
        float: left;
        margin-right: 20px;
        img {
          margin: 0;
        }
      }
    }
  }
}

/* Increase Text and Print */
.font-size-print{
  float: left;
  span{
    a{
      color: $text-color-blue;
      font-weight: bold;
      cursor: pointer;
    }
  }
  .a_small{
    a{
      font-size: 1rem;
    }
  }
  .a_medium{
    a{
      font-size: 1.35rem;
    }
  }
  .a_big{
    a{
      font-size: 1.65rem;
    }
  }
  .print-friendly{
    display: inline-block;
    background: url("../images/share_print_blue.png") no-repeat;
    width: 24px;
    height: 20px;
  }
}

.content-first-row{
  display: flex;
  justify-content: flex-end;
}

/* Share links */
#block-socialmenu{
  .menu.menu-level-0{
    padding: 0;
    margin: 5px 0 0 5px;
  }
}

/* Links in header - Menu with News & Events and Press */
.header-links{
  float: left;
  section.row{
    margin-left: -8px;
    margin-right: 0;
    nav{
      ul{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        li{
          padding: 0;
          margin: 0;
          a{
            font-size: 0.8rem;
            color: $text-color-blue;
            padding: 0 0 10px 0;
            font-weight: bold;
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

/* Block to the Header Language selector and Search */
.header-language-search{
  display: flex;
  flex-direction: column;
  .row{
    display: block;
  }
  .form-group{
    margin-bottom: 0;
  }
  .content.container-inline{
    clear: both;
  }

  .views-exposed-form{
    padding-bottom: 0;
  }

  /* Language Selector - Module - Language Switcher Dropdown */
  .block-lang-dropdown{
    float: right;
    margin-right: 20px;
  }

  /*Search autocomplete*/
  #ui-id-1{
    left: -211px !important;
  }
  ul[data-sa-theme="basic-blue"]{
    padding-bottom:1em;
  }
  ul[data-sa-theme="basic-blue"] .ui-autocomplete-field-group.banner{
    background: none;
  }
  ul[data-sa-theme="basic-blue"].ui-menu .ui-autocomplete-field-group.ui-menu-item{
    font-family: "Open Sans Condensed",sans-serif;
    font-size: 1rem;
    padding-left: 0;
    background: transparent;
    color: $text-color-black !important;
    background: url("../images/separator_home.jpg") repeat-x scroll 43% 0 rgba(0, 0, 0, 0);
    float: left;
    font-weight: lighter;
    margin: 0.5em 0 0 1em;
    padding: 1em 0 0.5em;
    width: 90%;
    border: 0;
    text-align: left;
    a{
      font-family: "Open Sans Condensed",sans-serif;
      font-size: 1.15rem;
      padding-left: 0;
      background: transparent;
      color: $text-color-black !important;
    }
  }
  ul[data-sa-theme="basic-blue"] > div.ui-autocomplete-field-group{
    margin-top: 10px;
  }

  ul[data-sa-theme="basic-blue"] .ui-menu-item-first{
    border:0px;
  }
  ul[data-sa-theme="basic-blue"].ui-menu .ui-menu-item a{
    background: url("../images/li_arrow.png") no-repeat scroll 5% 5px transparent;
    color: $text-color-blue !important;
    padding-left: 2.5em;
    text-decoration: none;
    clear: both;
  }
  ul[data-sa-theme="basic-blue"].ui-menu .ui-menu-item:last-child a{
    background: transparent;
    font-weight: bold;
    text-align: center;
    .ui-autocomplete-field{
      .ui-autocomplete-field{
        font-weight: bold;
        padding-top: 10px;
      }
    }
  }
  ul[data-sa-theme="basic-blue"] > div.ui-autocomplete-field-group.more_results + li.ui-menu-item .ui-autocomplete-fields > *:first-child{
    font-weight: bold;
    padding-top: 10px;
  }
  ul[data-sa-theme="basic-blue"] .ui-autocomplete-fields > *:first-child{
    color: $text-color-blue !important;
    font-weight: 600;
    padding-right: 10px;
  }
  ul[data-sa-theme="basic-blue"] > div.ui-autocomplete-field-group {
    margin-top: 1rem;
  }

  ul[data-sa-theme="basic-blue"] > li.ui-menu-item.ui-state-focus, ul[data-sa-theme="basic-blue"] > li.ui-menu-item:hover {
    background: transparent;
    border-top-color: transparent;
  }
  ul[data-sa-theme="basic-blue"] > *, ul[data-sa-theme="basic-blue"] > *.ui-state-focus, ul[data-sa-theme="basic-blue"] > *:hover{
    border: 0;
  }
  .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
    outline:inherit;
    border:0px;
  }
  .ui-autocomplete-field-created{
    display:none !important;
  }

}

/* Hide menu link to view only the Share links images in header and footer */
#block-socialmenu, #block-socialmenu-2{
  > ul{
    list-style: none;
    > li{
      > a{
        display: none;
      }
    }
  }
}

