.navbar{
  padding: 0;
  #block-ncwtheme-main-menu{
    float: none;
    width: 100%;
    background-color: $bg-color-blue-light;
    border-bottom: 5px solid $bg-color-blue;
    text-align: left;
    padding-bottom:0;
    padding-left:0;
    a{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      color: $text-color-blue;
      font-size: 0.9rem;
      font-weight: 700;
      padding-left: 0;
      padding-right: 0;
    }
    ul.menu-level-0{
      width: 100%;
      display: flex;
      list-style: none;
      border: 0;
      border-radius: 0;
      margin-top: 0px;
      margin-bottom: 0;
      padding-left: 0;

      > li.menu-item:nth-child(1) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 65px;
        border-left: 0;
        text-align: center;
        > a{
          display: block;
          width: 42px;
          height: 22px;
          text-indent: -9999px;
          background: url(../images/ico_home.png) no-repeat center center;
        }
        .field--type-entity-reference{
          margin: 0;
          img{
            margin: 0;
          }
        }
      }
      > li.menu-item:last-child{
        ul {
          margin-left: -80px ;
          li{
            ul{
              margin-left: 0;
            }
          }
        }
      }
      > li.menu-item{
        position: relative;
        float: left;
        width: 13%;
        text-align: center;
        padding: 1rem 1rem 1rem 1rem;
        border-left: 1px solid $bg-color-white;

        &:hover{
          ul.menu-level-1{
            position: absolute;
            display: block;
            background: $bg-color-white;
            left: 0;
            margin-left: -17px;
            margin-top: 1em;
            border-top: 5px solid $bg-color-blue-light;
            border-bottom: 5px solid $bg-color-blue;
            z-index: 999;
          }
        }
      }
      li {
        ul.menu-level-1 {
          display: none;
          background: $bg-color-white;
          list-style: none;
          width: 22rem;
          padding: 10px 10px 10px 20px;
          a{
            display: block;
            font-family: 'Open Sans Condensed';
            font-size: 1.05rem;
            padding-top: 5px;
          }
          li {
            width: 100%;
            text-align: left;
            ul.menu-level-2 {
              list-style: none;
              padding-left: 10px;
              li{
                width: 100%;
                text-align: left;
                a{
                  display: block;
                  color: $text-color-grey;
                  font-family: 'Open Sans';
                  font-weight: bold;
                  font-size: 0.8rem;
                  padding-bottom: 5px;
                  padding-top: 5px;
                }
              }
            }
          }
          li.menu-item--expanded:nth-child(2) {
            margin-top: 1rem;
          }
        }
      }
    }
  }
}

.mean-expand{
  display: none;
}

/* Responsive Menu */

@media only screen and (max-width : 991px) {

  .content-first-row {
    display: none;
  }

  /* Links News and Press */
  #block-headermenu{
    position: absolute;
    width: auto;
    left: 225px;
    top: 8px;
    z-index: 1;
    ul {
      display: block;
      li {
        padding: 0;
        margin: 0;
        float: left;
        margin-right: 9px;
        a {
          color: $text-color-white;
          padding: 10px 2px;
        }
      }
    }
  }

  /* Language */
  .header{
    select {
      background: url(../images/icoSelect-white.png) no-repeat scroll 94% center $bg-color-blue;
      color: $text-color-white;
    }
    #edit-search-api-fulltext {
      display: none;
    }
  }

  #lang_dropdown_form_lang-dropdown-form {
    background: none;
  }
  .block-lang-dropdown {
    position: absolute;
    left: 62px;
    top: 11px;
  }

  #edit-search-api-fulltext.activate {
    display: block;
    margin-right: 0px;
    width: 150px;
    margin-top: -5px;
  }

  #block-headermenu > ul > li:nth-child(1) > a{
    text-indent: -9999px;
    background: url(../images/ico-news-events-menu.png)1px 9px no-repeat;
    width: 25px;
    height: 35px;
  }
  #block-searchsite{
      position: relative;
      padding: 0;
      clear: both;
      float: right;
      position: absolute;
      right: 1px;
      width: 58px;
      top: 12px;
    #edit-actions , #edit-actions--2{
      position: relative;
      .btn-primary {
        background: url(../images/menu-search-ico.png) no-repeat scroll 1px 1px transparent;
        pointer-events: none;
        cursor: pointer;
        text-indent: -9999px;
        position: relative;
        top: 5px;
        right: -27px;
      }
      .btn-primary.activate {
        pointer-events: auto;
        cursor: pointer;
      }
    }
  }

  #block-searchsite #edit-search-api-fulltext, #block-searchsite #edit-keys--2 {
    width: 140px;
    height: 21px;
    margin-right: 0;
    border-radius: 0;
    margin-top: 0;
    color: #000;
    padding: 0 10px 0 10px;
    position: absolute;
    right: -14px;
    top: 7px;
    background: #FFF;
    z-index: 99;
  }

  /* Menu responsive items */
  #navbar-main {
    padding: 0;
    background: $bg-color-blue;
    .navbar-toggler {
      padding: 1rem;

      .icon-bar {
        background-color: $bg-color-white;
        display: block;
        width: 22px;
        height: 2px;
        margin-top: 4px;
        margin-bottom: 4px;
        border-radius: 1px;
      }
    }

    #block-ncwtheme-main-menu > ul > li:nth-child(4) > span{
      /* Hide publications expand ico */
      display: none;
    }

    #block-ncwtheme-main-menu{
      ul.menu-level-0{
        width: 100%;
        float: left;
        display: block;
        background: $bg-color-blue-light-2;
        padding-bottom: 1rem;
        > li.menu-item:nth-child(1) {
          width: 100%;
          text-align: left;
          .mean-expand {
            display: none;
          }
          > a{
            display: block;
            width: 100%;
            background: url(../images/ico_home.png) no-repeat left center;
          }
          .field--type-entity-reference{
            img{
              margin: 0;
            }
          }
        }
        > li.menu-item:last-child{
          ul {
            margin-left: 0 ;
            li{
              ul{
                margin-left: 0;
              }
            }
          }
        }
        > li.menu-item{
          float: none;
          width: 100%;
          clear: both;
          text-align: left;
          border-left: 0;
          padding: 1rem 0 0 1rem;
          background: transparent;
          a{
            display: block;
            color: $text-color-grey;
            font-size: 1.3rem;
            font-weight: normal;
          }
          &:hover{
            ul.menu-level-1{
              position: relative;
            }
          }
        }
        li {
          ul.menu-level-1 {
            display: none;
            width: 95%;
            background: transparent;
            border-top: 0;
            border-bottom: 0;
            li {
              background: url(../images/li_arrow.png) no-repeat 1em 10px;
              padding: 0 0 1em 2rem;
              a{
                width: 100%;
                color: $text-color-blue;
                font-size: 1.3rem;
                font-family: 'Open Sans';
                opacity: .75;
                padding-top: 0;
              }
              ul.menu-level-2 {
                display: none;
                width: 80%;
                background: transparent;
                padding: 1rem 0 0 0;
                border-top: 0;
                border-bottom: 0;
                li{
                  background: url(../images/li_arrow.png) no-repeat 1em 9px;
                  padding: 0 0 1em 2rem;
                  .mean-expand {
                    display: none;
                  }
                  a{
                    color: $text-color-blue;
                    font-size: 1.1rem;
                    padding: 0;
                    opacity: .75;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .navbar #block-ncwtheme-main-menu ul.menu-level-0 > li.menu-item:hover ul.menu-level-1{
    margin-left: 0;
  }

} /* End Media 991px */

@media only screen and (max-width : 480px) {
  #block-logoosha-2 {
    > div.content {
      > div {
        > div {
          > div:nth-child(1) {
            img {
              width: 210px;
              height: auto;
            }
          }
        }
      }
    }
  }
}


