.navbar{
  padding: 0;
  #block-ncwtheme-main-menu{
    float: none;
    width: 100%;
    background-color: $bg-color-blue-light;
    border-bottom: 5px solid $bg-color-blue;
    text-align: left;
    padding-bottom:0;
    padding-left:0;
    a{
      color: $text-color-blue;
      font-size: 0.9rem;
      font-weight: 700;
      padding-left: 0;
      padding-right: 0;
    }
    .dropdown-toggle::after{
      content: none;
    }
    .dropdown-toggle {
      white-space: initial;
    }

    li.nav-item{
      padding: 0.6rem 0.1rem 0.6rem 0.1rem;
      width: 12%;
      text-align: center;
      border-left: 1px solid $bg-color-white;
      display: flex;
      justify-content: center;
      align-items: center;
      ul.menu-level-0{
        width: 20.6em;
        background: $bg-color-white;
        border: 0;
        border-radius: 0;
        border-top: 5px solid $bg-color-blue-light;
        margin-top: 0px;
        margin-left: -1px;
        a.dropdown-toggle{
          font-family: 'Open Sans Condensed', sans-serif;
          font-weight: bold;
        }
        .dropdown-menu{
          border: 0;
          width: 100%;
          border-bottom: 5px solid $bg-color-blue;
          width: 20.6em;
          padding-top: 0;
          padding-left: 2rem;
          .dropdown-item{
            padding: 0;
            a{
              color: $text-color-grey;
              font-size: 0.8rem;
            }
          }
        }
      }
      &:hover{
        ul.dropdown-menu {
          display: block;
        }
      }
    }
    li.nav-item:nth-child(1) {
      width: 3%;
      border-left: 0;
    }
    li.nav-item:last-child{
      ul {
        margin-left: -80px ;
        li{
          ul{
            margin-left: 0;
          }
        }
      }
    }
    .dropdown-item:focus, .dropdown-item:hover {
      color: inherit;
      text-decoration: none;
      background-color: transparent;
    }
  }
}

