.navbar{
  padding: 0;
  #block-ncwtheme-main-menu{
    float: none;
    width: 100%;
    background-color: $bg-color-blue-light;
    border-bottom: 5px solid $bg-color-blue;
    text-align: left;
    padding-bottom:0;
    padding-left:0;
    a{
      color: $text-color-blue;
      font-size: 0.9rem;
      font-weight: 700;
      padding-left: 0;
      padding-right: 0;
    }
    ul.menu-level-0{
      width: 100%;
      display: flex;
      align-items: center;
      list-style: none;
      border: 0;
      border-radius: 0;
      margin-top: 0px;
      margin-bottom: 0;
      padding-left: 0;

      > li.menu-item:nth-child(1) {
        width: 3%;
        border-left: 0;
        text-align: center;
        > a{
          display: block;
          width: 42px;
          height: 22px;
          text-indent: -9999px;
          background: url(../images/ico_home.png) no-repeat 10px 0px;
        }
        .field--type-entity-reference{
          margin: 0;
          img{
            margin: 0;
          }
        }
      }
      > li.menu-item:last-child{
        ul {
          margin-left: -80px ;
          li{
            ul{
              margin-left: 0;
            }
          }
        }
      }
      > li.menu-item{
        position: relative;
        float: left;
        width: 13%;
        text-align: center;
        padding: 1rem 1rem 1rem 1rem;
        border-left: 1px solid $bg-color-white;

        &:hover{
          ul.menu-level-1{
            position: absolute;
            display: block;
            background: $bg-color-white;
            left: 0;
            margin-left: -17px;
            margin-top: 1em;
            border-top: 5px solid $bg-color-blue-light;
            border-bottom: 5px solid $bg-color-blue;
            z-index: 999;
          }
        }
      }
      li {
        ul.menu-level-1 {
          display: none;
          background: $bg-color-white;
          list-style: none;
          width: 22rem;
          padding: 10px 10px 10px 20px;
          a{
           font-family: 'Open Sans Condensed';
          }
          li {
            width: 100%;
            text-align: left;
            ul.menu-level-2 {
              list-style: none;
              padding-left: 10px;
              li{
                width: 100%;
                text-align: left;
                a{
                  display: block;
                  color: $text-color-grey;
                  font-family: 'Open Sans';
                  font-weight: bold;
                  font-size: 0.8rem;
                  padding-bottom: 5px;
                  padding-top: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.mean-expand{
  display: none;
}

/* Responsive Menu */
@media only screen and (max-width : 991px) {

  .content-first-row {
    display: none;
  }

  /* Links News and Press */
  #block-headermenu{
    position: absolute;
    width: auto;
    left: 225px;
    z-index: 1;
    ul {
      display: block;
      li {
        padding: 0;
        margin: 0;
        float: left;
        margin-right: 9px;

        a {
          color: $text-color-white;
        }
      }
    }
  }

  /* Language */
  #lang_dropdown_form_lang-dropdown-form {
    background: none;
  }
  .block-lang-dropdown {
    position: absolute;
    left: 62px;
    top: 11px;
  }
  select.custom-select {
    background: url(../images/icoSelect-white.png) no-repeat scroll 94% center transparent;
    color: $text-color-white;
  }

  #edit-search-api-fulltext {
    display: none;
  }

  #edit-search-api-fulltext.activate {
    display: block;
    margin-right: 0px;
    width: 150px;
    margin-top: -5px;
  }

  .nav-link--en-news-events{
    text-indent: -9999px;
    background: url(../images/ico-news-events-menu.png)1px 9px no-repeat;
    width: 25px;
    height: 35px;
  }
  #block-searchsite{
      position: relative;
      padding: 0;
      clear: both;
      float: right;
      position: absolute;
      right: 1px;
      width: 58px;
      top: 12px;
    #edit-actions , #edit-actions--2{
      position: relative;
      .btn-primary {
        background: url(../images/menu-search-ico.png) no-repeat scroll 1px 1px transparent;
        pointer-events: none;
        cursor: pointer;
        text-indent: -9999px;
        position: relative;
        top: 5px;
        right: -27px;
      }
      .btn-primary.activate {
        pointer-events: auto;
        cursor: pointer;
      }
    }
  }

  #block-searchsite #edit-search-api-fulltext, #block-searchsite #edit-keys--2 {
    width: 140px;
    height: 21px;
    margin-right: 0;
    border-radius: 0;
    margin-top: 0;
    color: #000;
    padding: 0 10px 0 10px;
    position: absolute;
    right: -14px;
    top: 7px;
    background: #FFF;
    z-index: 99;
  }


} /* End Media 991px */
