/* .view-landing-menu-dv, special view to "Data visualisation" Facts & Figures - Data visualisation */

body.tools-and-resources{
  article.node--type-article.node--promoted{
    .field--name-body{
      p{
        color: $text-color-blue;
      }
    }
  }
}

.one-column{
  .view-landing-menu, .view-landing-menu-dv{
    .view-col{
      width: 23.2%;
      float: left;
      margin-right: 1rem;
      margin-bottom: 2rem;

    }
  }
}

.two-column{
  .view-landing-menu, .view-landing-menu-dv{
    .view-col{
      width: 31%;
      float: left;
      margin-right: 2rem;
      margin-bottom: 2rem;
    }
  }
}

/* MNCW-245 */
body.facts-and-figures-data-visualisation{
  .two-column{
    .view-landing-menu, .view-landing-menu-dv{
      .view-col{
        width: 32%;
      }
    }
  }
}

.three-column{
  .view-landing-menu, .view-landing-menu-dv{
    .view-col{
      width: 47%;
      float: left;
      margin-right: 1rem;
      margin-bottom: 2rem;

    }
  }
}

.view-landing-menu, .view-landing-menu-dv {
  padding-top: 1rem;
  .views-view-grid > div {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }
  .view-col {
    display: flex;
    flex-direction: column;
    > div {
      flex: 1;
      > a:first-child{
        font-family: "Open Sans Condensed", sans-serif;
        width: 100%;
        display: block;
        font-size: 1.2rem;
        text-decoration: none;
        font-weight: 700;
        letter-spacing: -0.5px;
        border-bottom: 10px solid #cfddee;
        padding-right: 25px;
        padding-bottom: 5px;
        background-position: calc(100% - 5px) 9px;
        &:hover{
          background: url(../images/arrow.png) no-repeat calc(100% - 5px) 9px;
          border-bottom: 10px solid #dc2f82;
          transition: all 1s;
        }
      }
    }
    img{
      width: 100%;
      height: auto;
    }
  }
}

/*** View Facts and Figures ***/
.block-views-facts-figures {
  .view-content.row {
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    max-width: 780px;
  }
  .list--item {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 30%;
    min-width: 260px;
    margin: 0.5rem 2% 0.7rem 0;
    padding-right: 15px;
    &:hover {
      a {
        border-bottom: 10px solid $text-color-pink !important;
        background: url(../images/flecha.png) center right no-repeat;
      }
    }
    img {
      max-width: 100%;
      height: auto;
    }
    .menu-link-text {
      margin-bottom: 0.2rem;
      a{
        margin: 0;
        transition: none;
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        position: relative;
        font-family: 'Open Sans Condensed',sans-serif!important;
        font-size: 1.1875rem;
        font-weight: bold;
        text-decoration: none;
        color: $text-color-blue;
        border-bottom: 10px solid #d2dced;

      }
    }
  }
}


@media only screen and (max-width : 1024px) {
  .one-column{
    .view-landing-menu, .view-landing-menu-dv{
      .view-col{
        width: 31%;
        float: left;
        margin-right: 1rem;
        margin-bottom: 3rem;
      }
    }
  }
  .two-column, .three-column{
    .view-landing-menu, .view-landing-menu-dv{
      .view-col{
        width: 46%;
        float: left;
        margin-right: 1rem;
        margin-bottom: 3rem;
      }
    }
  }
}

@media only screen and (max-width : 768px) {
  .one-column{
    .view-landing-menu, .view-landing-menu-dv{
      .view-col{
        width: 46%;
        float: left;
        margin-right: 1rem;
        margin-bottom: 3rem;
      }
    }
  }
}

@media only screen and (max-width : 480px) {
  .one-column, .two-column, .three-column{
    .view-landing-menu, .view-landing-menu-dv{
      .view-col{
        width: 98%;
      }
    }
  }
  .view-landing-menu, .view-landing-menu-dv{
    .view-col{
      > div {
        max-width: 240px;
        margin: 0 auto;
      }
    }
  }
}
