/* .view-landing-menu-dv, special view to "Data visualisation" Facts & Figures - Data visualisation */

body.tools-and-resources{
  article.node--type-article.node--promoted{
    .field--name-body{
      p{
        color: $text-color-blue;
      }
    }
  }
}

.one-column{
  .view-landing-menu, .view-landing-menu-dv{
    .view-col{
      width: 23.2%;
      float: left;
      margin-right: 1rem;
      margin-bottom: 3rem;

    }
  }
}

.two-column{
  .view-landing-menu, .view-landing-menu-dv{
    .view-col{
      width: 31%;
      float: left;
      margin-right: 1rem;
      margin-bottom: 3rem;

    }
  }
}

.three-column{
  .view-landing-menu, .view-landing-menu-dv{
    .view-col{
      width: 47%;
      float: left;
      margin-right: 1rem;
      margin-bottom: 3rem;

    }
  }
}

.view-landing-menu, .view-landing-menu-dv {
  padding-top: 1rem;
  .views-view-grid > div {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }
  .view-col {
    display: flex;
    flex-direction: column;
    > div {
      flex: 1;
      > a:first-child{
        font-family: "Open Sans Condensed", sans-serif;
        width: 100%;
        display: block;
        font-size: 1.2rem;
        text-decoration: none;
        font-weight: 700;
        letter-spacing: -0.5px;
        border-bottom: 10px solid #cfddee;
        padding-right: 25px;
        padding-bottom: 5px;
        background-position: calc(100% - 5px) 9px;
        &:hover{
          background: url(../images/arrow.png) no-repeat calc(100% - 5px) 9px;
          border-bottom: 10px solid #dc2f82;
          transition: all 1s;
        }
      }
    }
    img{
      width: 100%;
      height: auto;
    }
  }
}


@media only screen and (max-width : 1024px) {
  .one-column{
    .view-landing-menu, .view-landing-menu-dv{
      .view-col{
        width: 31%;
        float: left;
        margin-right: 1rem;
        margin-bottom: 3rem;
      }
    }
  }
  .two-column, .three-column{
    .view-landing-menu, .view-landing-menu-dv{
      .view-col{
        width: 46%;
        float: left;
        margin-right: 1rem;
        margin-bottom: 3rem;
      }
    }
  }
}

@media only screen and (max-width : 768px) {
  .one-column{
    .view-landing-menu, .view-landing-menu-dv{
      .view-col{
        width: 46%;
        float: left;
        margin-right: 1rem;
        margin-bottom: 3rem;
      }
    }
  }
}

@media only screen and (max-width : 480px) {
  .one-column, .two-column, .three-column{
    .view-landing-menu, .view-landing-menu-dv{
      .view-col{
        width: 98%;
      }
    }
  }
  .view-landing-menu, .view-landing-menu-dv{
    .view-col{
      > div {
        max-width: 240px;
        margin: 0 auto;
      }
    }
  }
}
