/* This SASS only apply in the Web, not in the email - outlook
   View /themes/custom/newsletter_bilbomatica/templates/simplenews-newsletter-body.html.twig to apply styles to Outlook - Gmail
*/
.node--type-newsletter-content{
  table{
    tr{
      background: transparent;
    }
  }
  table tr th, table tr th a, table tr th a:hover, table tr th a:focus {
    color: $text-color-blue;
    font-weight: 600;
  }
  tr td, tr th {
    padding: 0;
    border: 0;
    text-align: left;
  }
  .node--unpublished {
    padding: 20px 6px 0;
  }
  .field__item{
    padding-bottom: 10px;
  }
}

