/* This SASS only apply in the Web, not in the email - outlook
   View /themes/custom/newsletter_bilbomatica/templates/simplenews-newsletter-body.html.twig to apply styles to Outlook - Gmail
*/
.node--type-newsletter-content{
  h1.title{
    display: none;
  }
  h2{
    font-size: 1.1rem;
    line-height: 22px;
  }
  .datetime, .field--name-created{
    font-weight: normal;
  }
  .field--name-field-image-oshmail-media{
    float: left;
  }
  table{
    tr{
      background: transparent;
      border: 0;
    }
  }
  table tr th, table tr th a, table tr th a:hover, table tr th a:focus {
    color: $text-color-blue;
    font-weight: 600;
  }
  tr td, tr th {
    padding: 0;
    border: 0;
    text-align: left;
  }
  .node--unpublished {
    padding: 20px 6px 0;
  }
  .twig-wrapper-nlc_hlight_content{
    .field--name-nlc-hlight-content{
      .field__item{
        padding-top: 10px;
        padding-bottom: 20px;
        margin-bottom: 10px;
        border-bottom: 1px dashed #dddddd;
        .field__item{
          padding-top: 0;
          padding-bottom: 0;
          margin-bottom: 0;
          border-bottom: 0;
          color: $text-color-black;
        }
      }
      .field__item:nth-child(1) {
        padding-top: 0;
      }
      h2{
        a{
          display: block;
          padding-bottom: 10px;
        }
      }
    }
  }
  .field--name-body{
    color: $text-color-black;
    color: #000;
    padding-top: 5px;
  }
  .section-videos{
    .field--type-created{
      font-weight: normal;
      font-size: 13px;
    }
    .field--name-body{
      color: $text-color-black;
      font-size: 13px;
      font-weight: normal;
    }
  }

  .block-twitter-block{
    height: 300px;
    margin-top: 20px;
  }

  figure {
    margin: 10px 0 0 0;
  }

  table.newsletter-events{
    margin: 0;
  }

}

/* Block Newsletter Home page - Right sidebar */
.block-custom-newsletter {
  &.block-custom-newsletter--sidebar {
    color: $text-color-blue;
    font-size: 0.9rem;
    margin-bottom: 2rem;
    .field--name-field-newsletter-title-with-link {
      margin-bottom: 10px;
      font-size: 1.5625rem;
      font-weight: bold;
      a {
        color: $text-color-blue;
        &:hover {
          text-decoration: none;
          color: $text-color-blue;
        }
      }
    }
    .newsletter-wrapper {
      background: $bg-color-blue-block;
      padding: 25px 20px;
      margin-top: 10px;
      margin-bottom: 2rem;
      color: $text-color-blue;
      border-radius: 3px;
    }
    .field--name-body {
      background: $bg-color-blue-block;
      padding: 25px 20px;
      p {
        margin: 0;
      }
      a{
        display: block;
        margin: 0;
        text-decoration: underline;
        border: none;
        &:hover{
          text-decoration: none;
          color: $text-color-blue;
        }
      }
    }
    .newsletter-subscription-form {
      background: $bg-color-blue-block;
      padding: 0 20px 15px;
      .form-type-email {
        margin-bottom: 15px;
      }
      .form-check {
        margin-bottom: 1rem;
        .form-check-label {
          font-weight: normal;
        }
      }
    }
    .field--name-field-newsletter-privacy-notice {
      background: $bg-color-blue-block;
      padding: 0 20px 25px;
      a {
        display: block;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
          color: $text-color-blue;
        }
      }
    }
    .btn.btn-primary {
      margin: 10px 0 0;
      width: 100%;
      opacity: 0.8;
      font-size: 1rem;
      color: $bg-color-blue;
      font-weight: bold;
      background: $bg-color-blue-button;
    }
  }
}



.newsletter-block-wrapper{
  background: $bg-color-blue-block;
  padding: 25px 20px;
  margin-top: 10px;
  margin-bottom: 2rem;
  color: $text-color-blue;
  font-size: 0.9rem;
  border-radius: 3px;
  a{
    display: block;
    margin-top: 5px;
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
  .form-item-agree-processing-personal-data{
    display: flex;
    padding-bottom: 1rem;
    .option{
      font-weight: normal;
      margin-bottom: 0;
      margin-top: -4px;
      margin-left: 10px;
    }
  }
  #edit-mail-wrapper{
    margin-top: 10px;
    label{
      font-weight: 400;
    }
  }
  #edit-actions{
    margin-bottom: 0;
    margin-top: 1rem;
  }
  .form-submit{
    width: 100%;
    font-size: 1rem;
    color: $text-color-blue;
    font-weight: bold;
    background: $bg-color-blue-button;
    margin-bottom: 10px;
    &:hover{
      opacity: 0.8;
    }
  }
}

/* Content node/9 /oshmail-newsletter */
.wraper-blog-and-img{
  display: flex;
  .block-newsletter{
    margin-right: 1rem;
    .newsletter-block-wrapper{
      margin-top: 0;
    }
    h2{
      display: none;
    }
  }
}

.sidebar-second{
  .view-newsletter-items{
    border-top: 2px solid $bg-color-blue;
    .view-content.row{
      margin-left: 0;
      margin-right: 0;
    }
    .views-row{
      width: 100%;
      padding: 10px 0;
      border-bottom: 2px solid $bg-color-blue;
      .views-field-nothing{
        a{
          font-size: 1rem;
          background: url(../images/arrow.png) no-repeat 98% 3px;
          padding-left: 5px;
          padding-bottom: 0;
        }
      }
    }
  }
}

